In [1]:
%run imports_and_functions.ipynb

C:\Users\Jason\AppData\Local\conda\conda\envs\DSI-6\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

### Engineering Las Vegas Businesses Data

In [2]:
df = pd.read_csv('LasVegasBusinesses.csv', compression='gzip', sep=';')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28865 entries, 0 to 28864
Data columns (total 12 columns):
address         27073 non-null object
attributes      24706 non-null object
categories      28785 non-null object
city            28865 non-null object
latitude        28864 non-null float64
longitude       28864 non-null float64
name            28865 non-null object
neighborhood    23607 non-null object
postal_code     28765 non-null float64
review_count    28865 non-null int64
stars           28865 non-null float64
state           28865 non-null object
dtypes: float64(4), int64(1), object(7)
memory usage: 2.6+ MB

In [10]:
df['postal_code'].replace(np.nan, 0, inplace=True)

In [11]:
df[df['postal_code'].isnull()]

Empty DataFrame
Columns: [address, attributes, categories, city, latitude, longitude, name, neighborhood, postal_code, review_count, stars, state]
Index: []

In [15]:
df.loc[:,'postal_code'] = df['postal_code'].astype(int, copy=False)

In [96]:
df.tail()

,address,attributes,categories,city,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state,price
28860,4655 Quality Ct,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Kitchen & Bath, Building Supplies, Home Servic...",Las Vegas,36.105866,-115.206215,Impressions Tile & Marble,NaN,89103,6,4.5,NV,0
28861,"3863 S Valley View Blvd, Ste 31",{'BusinessAcceptsCreditCards': 'True'},"Automotive, Body Shops, Auto Repair, Oil Chang...",Las Vegas,36.120743,-115.192017,Vegas Auto Repair,NaN,89103,9,4.5,NV,0
28862,4322 W Flamingo Rd,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Beauty & Spas, Nail Salons, Active Life, Gyms,...",Las Vegas,36.114304,-115.193871,Recharge Salon & Fitness,NaN,89103,20,4.5,NV,3
28863,6166 W Flamingo Rd,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Beauty & Spas, Nail Salons, Hair Removal, Waxi...",Las Vegas,36.115367,-115.226848,Aloha Nails,NaN,89103,76,3.5,NV,2
28864,"3900 Paradise Rd, Ste R","{'BikeParking': 'True', 'BusinessAcceptsCredit...","Makeup Artists, Men's Clothing, Swimwear, Shop...",Las Vegas,36.118697,-115.154270,Tito Jimy Salon and Boutique,Eastside,89169,8,4.0,NV,2

In [35]:
'active life' in df.tail().iloc[2,2].lower()

True

In [23]:
df[~(df['postal_code'].isin(vegas_zipcodes))]['postal_code'].value_counts()

0         100
88901      63
89032      45
89030      45
89031      32
89052      23
89014      20
89084      17
89074      16
89081      11
89012       7
89011       5
89019       5
90210       2
89085       2
89015       1
85705       1
86023       1
88113       1
78409       1
88147       1
89181       1
89184       1
89053       1
6280        1
87701       1
92328       1
71863       1
891118      1
89018       1
89046       1
88905       1
93013       1
98145       1
68451       1
94066       1
89039       1
89003       1
89004       1
90720       1
89037       1
90001       1
Name: postal_code, dtype: int64

In [27]:
df.loc[~(df['postal_code'].isin(vegas_zipcodes)),'postal_code'] = 0

In [93]:
def getPriceRange(string) :
    regex = re.compile("RestaurantsPriceRange2\\': \\'(\d)")
    try :
        match = regex.search(string)
        return int(match.groups(0)[0])
    except : return 0

In [94]:
getPriceRange(df.loc[4,'attributes'])

1

In [95]:
df['price'] = df['attributes'].map(getPriceRange)
df['price'].value_counts()

0    14236
2     8041
1     4798
3     1317
4      473
Name: price, dtype: int64

In [20]:
def get_main_category(catstring) :
    string = ''
    try :
        for cat in main_categories :
            if cat in catstring : string = string + cat + ', '
    except : pass
    return string[0:(len(string)-2)]

In [21]:
get_main_category(df['categories'][0])

'Shopping'

In [22]:
df['main_category'] = df['categories'].map(get_main_category)
df['main_category'].value_counts()

Restaurants                                                                                                3115
Shopping                                                                                                   2467
Home Services                                                                                              2181
Beauty & Spas                                                                                              2060
Health & Medical                                                                                           2016
Food, Restaurants                                                                                          1884
Automotive                                                                                                 1484
Food                                                                                                       1176
Local Services                                                                                              798
Active Life                                                                                                 682
Nightlife, Restaurants                                                                                      592
Nightlife                                                                                                   533
Professional Services                                                                                       489
Financial Services                                                                                          452
Beauty & Spas, Health & Medical                                                                             443
Event Planning & Services                                                                                   427
Pets                                                                                                        403
Arts & Entertainment                                                                                        402
Hotels & Travel                                                                                             383
Beauty & Spas, Shopping                                                                                     366
Local Services, Shopping                                                                                    341
Home Services, Local Services                                                                               330
Home Services, Shopping                                                                                     259
Event Planning & Services, Hotels & Travel                                                                  241
Arts & Entertainment, Nightlife                                                                             217
Food, Shopping                                                                                              182
Health & Medical, Shopping                                                                                  176
Home Services, Professional Services                                                                        156
Education                                                                                                   154
Automotive, Food                                                                                            148
Food, Nightlife, Restaurants                                                                                135
Arts & Entertainment, Shopping                                                                              119
Local Services, Professional Services                                                                       110
Event Planning & Services, Shopping                                                                         110
Financial Services, Home Services                                                                           102
Home Services, Local Services, Professional Services                                                         94
                                                                                                             89
Financial Services, Professional Services                                                                    85
Event Planning & Services, Food, Restaurants                                                                 83
Religious Organizations                                                                                      80
Arts & Entertainment, Event Planning & Services, Hotels & Travel                                             75
Active Life, Health & Medical                                                                                74
Education, Local Services                                                                                    72
Automotive, Home Services                                                                                    69
Home Services, Local Services, Shopping                                                                      69
Public Services & Government                                                                                 64
Event Planning & Services, Restaurants                                                                       62
Beauty & Spas, Food, Shopping                                                                                60
Food, Nightlife                                                                                              60
Automotive, Shopping                                                                                         58
Active Life, Arts & Entertainment                                                                            55
Active Life, Shopping                                                                                        53
Event Planning & Services, Professional Services                                                             50
Arts & Entertainment, Nightlife, Restaurants                                                                 48
Active Life, Education                                                                                       44
Automotive, Local Services                                                                                   43
Event Planning & Services, Hotels & Travel, Nightlife                                                        42
Automotive, Hotels & Travel                                                                                  41
Event Planning & Services, Food                                                                              39
Mass Media                                                                                                   39
Arts & Entertainment, Event Planning & Services                                                              38
Active Life, Hotels & Travel                                                                                 36
Beauty & Spas, Event Planning & Services                                                                     36
Local Services, Professional Services, Shopping                                                              35
Event Planning & Services, Nightlife                                                                         35
Active Life, Event Planning & Services                                                                       34
Automotive, Financial Services                                                                               33
Arts & Entertainment, Event Planning & Services, Nightlife                                                   33
Health & Medical, Professional Services                                                                      32
Nightlife, Shopping                                                                                          31
Home Services, Local Services, Professional Services, Shopping                                               30
Home Services, Professional Services, Shopping                                                               30
Local Services, Public Services & Government                                                                 29
Active Life, Beauty & Spas                                                                                   24
Active Life, Arts & Entertainment, Event Planning & Services                                                 24
Active Life, Home Services, Shopping                                                                         23
Active Life, Nightlife                                                                                       23
Beauty & Spas, Health & Medical, Shopping                                                                    23
Automotive, Home Services, Local Services                                                                    22
Arts & Entertainment, Education                                                                              22
Event Planning & Services, Home Services, Hotels & Travel                                                    22
Beauty & Spas, Education                                                                                     21
Event Planning & Services, Nightlife, Restaurants                                                            21
Arts & Entertainment, Food                                                                                   21
Arts & Entertainment, Food, Nightlife, Restaurants                                                           20
Active Life, Home Services                                                                                   20
Education, Health & Medical                                                                                  19
Arts & Entertainment, Event Planning & Services, Hotels & Travel, Restaurants                                18
Education, Shopping                                                                                          17
Active Life, Beauty & Spas, Health & Medical                                                                 17
Arts & Entertainment, Restaurants                                                                            17
Active Life, Arts & Entertainment, Education                                                                 17
Active Life, Local Services                                                                                  17
Active Life, Education, Local Services                                                                       17
Automotive, Professional Services                                                                            16
Event Planning & Services, Local Services, Shopping                                                          16
Automotive, Home Services, Local Services, Shopping                                                          16
Arts & Entertainment, Event Planning & Services, Hotels & Travel, Nightlife                                  15
Local Services, Mass Media, Professional Services                                                            15
Financial Services, Local Services                                                                           15
                                                                                                           ...
Active Life, Education, Mass Media, Professional Services, Shopping                                           1
Active Life, Event Planning & Services, Food                                                                  1
Automotive, Local Services, Professional Services, Shopping                                                   1
Hotels & Travel, Nightlife, Restaurants, Shopping                                                             1
Education, Nightlife                                                                                          1
Arts & Entertainment, Education, Event Planning & Services, Hotels & Travel, Shopping                         1
Automotive, Education, Local Services, Professional Services, Public Services & Government                    1
Active Life, Arts & Entertainment, Local Services                                                             1
Home Services, Nightlife, Professional Services                                                               1
Beauty & Spas, Professional Services, Religious Organizations, Shopping                                       1
Health & Medical, Nightlife                                                                                   1
Arts & Entertainment, Education, Event Planning & Services, Local Services, Shopping                          1
Active Life, Event Planning & Services, Professional Services                                                 1
Arts & Entertainment, Home Services, Local Services, Shopping                                                 1
Arts & Entertainment, Food, Home Services, Professional Services                                              1
Education, Event Planning & Services, Local Services                                                          1
Event Planning & Services, Food, Health & Medical, Restaurants                                                1
Public Services & Government, Restaurants                                                                     1
Arts & Entertainment, Home Services, Restaurants                                                              1
Education, Food, Health & Medical, Shopping                                                                   1
Arts & Entertainment, Education, Professional Services, Shopping                                              1
Event Planning & Services, Hotels & Travel, Nightlife, Public Services & Government                           1
Active Life, Automotive, Beauty & Spas, Food, Home Services, Local Services, Restaurants                      1
Active Life, Hotels & Travel, Nightlife, Restaurants                                                          1
Arts & Entertainment, Education, Home Services, Professional Services, Shopping                               1
Event Planning & Services, Financial Services, Shopping                                                       1
Arts & Entertainment, Beauty & Spas, Home Services, Shopping                                                  1
Food, Health & Medical, Home Services                                                                         1
Active Life, Education, Hotels & Travel                                                                       1
Beauty & Spas, Professional Services, Shopping                                                                1
Active Life, Beauty & Spas, Restaurants, Shopping                                                             1
Automotive, Hotels & Travel, Shopping                                                                         1
Active Life, Arts & Entertainment, Food, Hotels & Travel                                                      1
Arts & Entertainment, Event Planning & Services, Local Services, Shopping                                     1
Arts & Entertainment, Local Services, Nightlife, Shopping                                                     1
Hotels & Travel, Nightlife, Restaurants                                                                       1
Arts & Entertainment, Automotive, Food                                                                        1
Automotive, Financial Services, Local Services, Professional Services                                         1
Active Life, Event Planning & Services, Hotels & Travel, Restaurants                                          1
Education, Food                                                                                               1
Active Life, Financial Services, Nightlife, Shopping                                                          1
Education, Food, Hotels & Travel, Nightlife                                                                   1
Arts & Entertainment, Event Planning & Services, Food, Nightlife, Shopping                                    1
Event Planning & Services, Home Services, Nightlife                                                           1
Hotels & Travel, Nightlife, Shopping                                                                          1
Arts & Entertainment, Financial Services, Health & Medical, Professional Services                             1
Food, Health & Medical, Home Services, Restaurants                                                            1
Active Life, Arts & Entertainment, Education, Shopping                                                        1
Active Life, Automotive, Home Services, Hotels & Travel                                                       1
Automotive, Education, Professional Services                                                                  1
Arts & Entertainment, Local Services, Nightlife, Professional Services                                        1
Beauty & Spas, Health & Medical, Home Services, Hotels & Travel, Professional Services                        1
Local Services, Nightlife, Restaurants                                                                        1
Arts & Entertainment, Automotive, Financial Services                                                          1
Active Life, Event Planning & Services, Food, Hotels & Travel                                                 1
Active Life, Food, Nightlife, Restaurants                                                                     1
Event Planning & Services, Nightlife, Professional Services                                                   1
Education, Event Planning & Services, Local Services, Professional Services, Shopping                         1
Active Life, Home Services, Local Services                                                                    1
Arts & Entertainment, Education, Event Planning & Services, Home Services, Local Services                     1
Professional Services, Restaurants, Shopping                                                                  1
Active Life, Arts & Entertainment, Food, Nightlife                                                            1
Active Life, Education, Event Planning & Services, Local Services, Shopping                                   1
Beauty & Spas, Event Planning & Services, Professional Services                                               1
Education, Local Services, Professional Services, Shopping                                                    1
Arts & Entertainment, Event Planning & Services, Hotels & Travel, Local Services, Professional Services       1
Event Planning & Services, Hotels & Travel, Local Services, Shopping                                          1
Education, Food, Shopping                                                                                     1
Education, Home Services, Local Services, Professional Services                                               1
Active Life, Beauty & Spas, Health & Medical, Local Services                                                  1
Beauty & Spas, Health & Medical, Nightlife                                                                    1
Beauty & Spas, Health & Medical, Home Services                                                                1
Professional Services, Restaurants                                                                            1
Arts & Entertainment, Mass Media, Shopping                                                                    1
Beauty & Spas, Event Planning & Services, Professional Services, Shopping                                     1
Financial Services, Home Services, Professional Services, Public Services & Government                        1
Beauty & Spas, Restaurants, Shopping                                                                          1

In [23]:
df.tail()

,address,attributes,categories,city,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state,price,main_category
28860,4655 Quality Ct,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Kitchen & Bath, Building Supplies, Home Servic...",Las Vegas,36.105866,-115.206215,Impressions Tile & Marble,NaN,89103,6,4.5,NV,0,"Home Services, Shopping"
28861,"3863 S Valley View Blvd, Ste 31",{'BusinessAcceptsCreditCards': 'True'},"Automotive, Body Shops, Auto Repair, Oil Chang...",Las Vegas,36.120743,-115.192017,Vegas Auto Repair,NaN,89103,9,4.5,NV,0,Automotive
28862,4322 W Flamingo Rd,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Beauty & Spas, Nail Salons, Active Life, Gyms,...",Las Vegas,36.114304,-115.193871,Recharge Salon & Fitness,NaN,89103,20,4.5,NV,3,"Active Life, Beauty & Spas"
28863,6166 W Flamingo Rd,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Beauty & Spas, Nail Salons, Hair Removal, Waxi...",Las Vegas,36.115367,-115.226848,Aloha Nails,NaN,89103,76,3.5,NV,2,Beauty & Spas
28864,"3900 Paradise Rd, Ste R","{'BikeParking': 'True', 'BusinessAcceptsCredit...","Makeup Artists, Men's Clothing, Swimwear, Shop...",Las Vegas,36.118697,-115.154269,Tito Jimy Salon and Boutique,Eastside,89169,8,4.0,NV,2,"Beauty & Spas, Shopping"

In [24]:
df.to_csv('LasVegas.csv',sep=';',header=True,index=False,compression='gzip')

In [ ]:
df = pd.read_csv('LasVegas.csv',sep=';',compression='gzip')

In [26]:
testlat = 36.120743
testlong = -115.192017 # same coords as autorepair shop in tail of las vegas dataset

In [31]:
def calcDistances(lat, long, citydf) :
    distances = pd.Series(index=citydf.index)
    for index in citydf.index :
        distances[index] = calcDist(lat, long, citydf.loc[index,'latitude'], citydf.loc[index,'longitude'])
    return distances

In [94]:
def latlong_tozipcode(tupl) :
    try :
        (lat, long) = tupl
        result = search.by_coordinates(lat, long, radius=10, returns=1)
        int(result[0].to_dict()['zipcode'])
    except : return 0
    return int(result[0].to_dict()['zipcode'])

In [40]:
results = calcDistances(testlat, testlong, df)
results[results < search_radius]

124      756.578301
208      765.864667
255      973.197697
414      460.796078
569      738.852141
608      558.352126
702      515.163792
748      470.980523
978      942.223872
1054     780.714841
1085     757.099413
1316     625.965896
1405     682.566558
1419     923.452452
1616     727.021330
1799     807.826330
1800     112.244559
1837     774.976823
1998     500.465278
2041     555.086623
2052     842.593902
2189     938.324328
2241      81.875111
2311     111.693278
2374     738.819004
2400     549.937323
2444     646.253775
2445     808.289048
2602     845.699750
3009     610.566873
3177     269.861606
3194     594.179987
3251     652.673844
3561     793.966080
3566     780.592592
3694     593.037600
3896     734.244402
3908     702.917976
4026     492.257434
4030     475.775473
4117     799.044674
4251     394.917450
4340     916.518562
4467     626.201874
4591     684.898624
4592     671.926328
4607     474.757591
4716     551.012449
4767     947.815840
4900     895.142118
5004     621.953571
5074     960.268113
5166     867.092662
5206     637.611332
5207     929.104494
5247     977.857464
5333     549.937323
5347     684.898624
5355     793.454714
5627      48.379028
5651     925.616348
5866     664.250382
5970     641.706350
6001     763.472567
6076     939.533779
6126     559.541206
6127     889.880944
6335     799.044674
6337     447.054577
6340     780.592592
6577     943.195615
6598     673.682659
6604     538.145615
6620     676.031203
6643     763.472567
6653     875.049362
6728     139.307993
6752     793.966080
6969     610.619891
6970     626.223267
6986     559.899994
7067     749.187440
7084     202.258330
7201     927.488744
7202     738.819004
7203     556.096584
7266     265.342426
7279     778.893776
7280     651.417614
7305     167.710247
7384     821.901223
7385     374.869314
7463     867.105361
7472     952.454870
7648     775.113606
7709     353.913847
7733     549.952867
7742     769.729491
8087     629.370711
8272     967.253713
            ...
25445    611.583667
25528    624.899548
25615    550.768290
25617    937.030570
25653    585.631982
25693    462.747084
25702    646.729220
25727    830.460852
25732    659.099515
25733    797.107105
25734    659.415222
25754    863.304247
25755    623.163575
25772    626.201874
25791    651.417614
25840    951.708500
25847    649.322970
25851    722.312102
25959    435.529179
25960    992.891921
26019     48.379028
26067    580.326061
26106    594.259719
26115    811.425475
26126    626.201874
26179    542.594726
26184    861.387812
26189    137.356832
26196    838.214823
26228    315.853157
26229    661.109088
26268    955.291211
26370    738.747824
26375    903.337251
26423    626.201874
26476     81.845957
26482    620.101034
26509    875.049362
26547    470.822762
26580    653.348175
26592    936.060144
26617    209.914178
26618    756.182001
26654    950.175536
26684    875.049362
26696    601.337860
26762    811.104402
26828    586.453229
26844    600.873048
26880    734.578847
26886    845.699750
27006    780.592592
27028    619.163921
27030    649.322970
27045    875.049362
27212    592.575470
27216    932.619818
27217    631.947080
27226    651.162528
27234    860.245586
27257    656.915102
27286    845.699750
27291    550.768290
27296    610.385359
27297    671.012551
27330    474.059807
27355    626.201874
27393    607.952552
27424    446.433008
27443    765.864667
27512    649.322970
27523    943.761921
27529    866.908846
27567    937.965060
27568    914.764431
27608    888.192422
27638    586.256179
27656    604.749287
27701    458.924924
27725    939.533779
27847    624.899548
28018    813.904236
28044    654.249325
28045    801.956738
28119    828.486065
28204    550.768290
28316    763.472567
28353    497.000842
28481    608.452800
28551    738.819004
28553    626.201874
28592    757.664959
28610    684.898624
28734    693.920046
28777    690.927076
28792    646.753722
28812    738.819004
28813    793.966080
28861      0.041272
28862    733.714605
Length: 555, dtype: float64

In [125]:
results.sort_values(ascending=False)

15878    7.994029e+06
17333    3.393894e+06
25418    3.160668e+06
7846     3.088254e+06
26826    9.011564e+05
12289    6.390267e+05
12154    6.110386e+05
24917    3.780776e+05
12056    3.704614e+05
10905    3.672562e+05
7585     3.616097e+05
6066     3.370235e+05
21509    3.168293e+05
12003    2.750879e+05
241      1.549299e+05
25088    1.435822e+05
3104     1.259141e+05
3352     7.895170e+04
22929    7.191085e+04
19800    6.126371e+04
5795     5.971009e+04
8628     5.955960e+04
7507     5.615010e+04
27010    5.005020e+04
19841    4.899625e+04
11509    4.832166e+04
6759     4.832166e+04
17134    4.796614e+04
12204    4.530206e+04
20853    4.530206e+04
12584    4.530206e+04
23935    4.530206e+04
4167     4.530206e+04
28755    4.530206e+04
21263    4.530206e+04
11656    4.530206e+04
19219    4.530206e+04
9523     4.530206e+04
10485    4.530206e+04
10565    4.530206e+04
22320    4.530206e+04
12643    4.530206e+04
9458     4.504370e+04
28118    4.498598e+04
6215     4.419634e+04
28028    4.352389e+04
7495     4.346247e+04
11964    4.346247e+04
28569    4.336686e+04
12693    4.215428e+04
9294     4.152521e+04
18254    4.087989e+04
23734    3.978988e+04
27970    3.978988e+04
18538    3.978988e+04
10335    3.970096e+04
24426    3.952504e+04
18987    3.928770e+04
20160    3.928537e+04
9065     3.829006e+04
10379    3.095638e+04
25398    3.063270e+04
4558     3.061355e+04
8260     3.032697e+04
15339    2.885115e+04
12599    2.873207e+04
21825    2.814255e+04
27708    2.771380e+04
15592    2.743723e+04
14437    2.733089e+04
11550    2.733089e+04
12022    2.733089e+04
2870     2.733089e+04
19681    2.733089e+04
13704    2.733089e+04
9100     2.733089e+04
10       2.733089e+04
10899    2.733089e+04
16483    2.733089e+04
7880     2.733089e+04
14187    2.733089e+04
15435    2.733089e+04
14188    2.733089e+04
8893     2.733089e+04
15038    2.733089e+04
18385    2.733089e+04
24876    2.733089e+04
14374    2.733089e+04
2157     2.733089e+04
2225     2.731569e+04
14455    2.677671e+04
20920    2.677671e+04
23794    2.677671e+04
3631     2.677671e+04
20050    2.677671e+04
27059    2.677671e+04
18591    2.677671e+04
10725    2.677671e+04
16521    2.677671e+04
21229    2.677671e+04
             ...
4026     4.922574e+02
16624    4.887352e+02
23169    4.867538e+02
10773    4.791881e+02
4030     4.757755e+02
4607     4.747576e+02
27330    4.740598e+02
15517    4.735045e+02
10984    4.710651e+02
748      4.709805e+02
26547    4.708228e+02
18449    4.708228e+02
10021    4.687895e+02
20766    4.683444e+02
13836    4.673777e+02
19396    4.649324e+02
21219    4.628759e+02
14124    4.627471e+02
23064    4.627471e+02
23175    4.627471e+02
25693    4.627471e+02
16158    4.624582e+02
21876    4.612113e+02
414      4.607961e+02
27701    4.589249e+02
6337     4.470546e+02
27424    4.464330e+02
10020    4.421013e+02
22853    4.401858e+02
25959    4.355292e+02
20768    4.350192e+02
14490    4.350192e+02
4251     3.949175e+02
20658    3.800560e+02
7385     3.748693e+02
7709     3.539138e+02
13919    3.480087e+02
26228    3.158532e+02
9042     2.964267e+02
19154    2.890312e+02
21932    2.705853e+02
3177     2.698616e+02
16840    2.698616e+02
7266     2.653424e+02
20854    2.323163e+02
8598     2.190840e+02
26617    2.099142e+02
22375    2.099142e+02
11784    2.099142e+02
11116    2.094815e+02
17135    2.075840e+02
7084     2.022583e+02
10304    2.008001e+02
19979    1.897921e+02
23383    1.835726e+02
10532    1.776281e+02
17546    1.727400e+02
12118    1.702570e+02
7305     1.677102e+02
22242    1.677102e+02
24610    1.655645e+02
10307    1.602319e+02
24863    1.602148e+02
24196    1.602148e+02
13243    1.532259e+02
6728     1.393080e+02
26189    1.373568e+02
24099    1.302299e+02
18981    1.251725e+02
13464    1.243952e+02
14491    1.243952e+02
20712    1.122871e+02
1800     1.122446e+02
2311     1.116933e+02
13928    1.116933e+02
20978    9.579803e+01
23143    8.290000e+01
2241     8.187511e+01
13398    8.187511e+01
24714    8.187511e+01
26476    8.184596e+01
11859    8.184596e+01
11629    8.140165e+01
17730    7.832141e+01
23960    7.824653e+01
10526    7.823908e+01
16974    7.823908e+01
11044    7.451650e+01
11597    7.204507e+01
19270    7.036096e+01
11147    6.373726e+01
10306    6.373726e+01
17160    6.373726e+01
10279    6.373726e+01
26019    4.837903e+01
13432    4.837903e+01
5627     4.837903e+01
28861    4.127225e-02
14096             NaN
23865             NaN
Length: 28865, dtype: float64

In [41]:
results[results < search_radius].shape

(555,)

In [43]:
df.loc[results[results < search_radius].index,'price'].value_counts()

0    225
2    185
1     98
3     39
4      8
Name: price, dtype: int64

In [46]:
df['postal_code'].value_counts()  # 74 unique zip codes plus 0 for mislabeled or missing zipcodes

89109    3116
89119    1808
89102    1618
89103    1483
89117    1376
89118    1340
89123    1206
89146    1182
89101    1182
89147    1116
89104     981
89121     880
89128     855
89148     727
89130     647
89113     636
89139     614
89120     603
89108     561
89145     536
89135     524
89169     512
89149     510
89106     484
89129     440
89183     423
0         420
89107     415
89131     340
89115     340
89110     315
89134     259
89122     230
89141     180
89144     169
89178     140
89142     101
89136     101
89156      64
89143      56
89158      55
89166      50
89138      37
89161      27
89154      25
89124      23
89162      21
89044      20
89111      18
89133      10
89191       9
89193       9
89179       9
89105       7
89155       5
89180       5
89140       4
89112       4
89199       4
89157       3
89165       3
89152       3
89153       3
89137       3
89151       3
89160       2
89114       2
89054       2
89173       2
89116       2
89126       1
89125       1
89195       1
89150       1
89132       1
Name: postal_code, dtype: int64

In [104]:
vegas_zipcodes = [
89044,89054,89101,89102,89103,89104,89105,89106,89107,89108,89109,89110,89111,89112,89113,89114,
89115,89116,89117,89118,89119,89120,89121,89122,89123,89124,89125,89126,89127,89128,89129,89130,
89131,89132,89133,89134,89135,89136,89137,89138,89139,89140,89141,89142,89143,89144,89145,89146,
89147,89148,89149,89150,89151,89152,89153,89154,89155,89156,89157,89158,89159,89160,89161,89162,
89163,89164,89165,89166,89169,89170,89173,89177,89178,89179,89180,89183,89185,89191,89193,89195,89199]
# From https://data.mongabay.com/igapo/zip_codes/NV.htm#i5DwGpyATaUgxp84.99

In [53]:
Ydata = pd.read_csv('lasvegaszipcodes.csv')
Ydata

,#,Zip Code,Location,City,Population,Avg. Income/H/hold
0,1,89141,"35.982470, -115.205227","Las Vegas, Nevada",262,"$108,579.00"
1,2,89148,"36.063771, -115.315877","Las Vegas, Nevada",913,"$92,707.00"
2,3,89139,"36.032308, -115.208632","Las Vegas, Nevada","2,297","$74,706.00"
3,4,89149,"36.279319, -115.300319","Las Vegas, Nevada","11,312","$74,482.00"
4,5,89144,"36.171202, -115.345319","Las Vegas, Nevada","11,772","$70,136.00"
5,6,89143,"36.659049, -115.185865","Las Vegas, Nevada","2,408","$67,411.00"
6,7,89129,"36.235825, -115.298399","Las Vegas, Nevada","32,441","$63,373.00"
7,8,89135,"36.119441, -115.323855","Las Vegas, Nevada","3,539","$62,629.00"
8,9,89131,"36.294631, -115.235476","Las Vegas, Nevada","10,968","$61,779.00"
9,10,89113,"36.060558, -115.263553","Las Vegas, Nevada","8,276","$61,057.00"
10,11,89130,"36.255385, -115.228127","Las Vegas, Nevada","24,598","$60,129.00"
11,12,89134,"36.197693, -115.350881","Las Vegas, Nevada","25,116","$59,486.00"
12,13,89123,"36.018330, -115.152135","Las Vegas, Nevada","46,877","$57,630.00"
13,14,89147,"36.112898, -115.279134","Las Vegas, Nevada","39,478","$55,295.00"
14,15,89145,"36.167821, -115.278992","Las Vegas, Nevada","19,337","$54,320.00"
15,16,89124,"36.101527, -115.390784","Las Vegas, Nevada","1,837","$53,056.00"
16,17,89142,"36.147310, -115.037465","Las Vegas, Nevada","22,606","$52,897.00"
17,18,89117,"36.140961, -115.281091","Las Vegas, Nevada","51,545","$52,328.00"
18,19,89120,"36.081624, -115.095854","Las Vegas, Nevada","21,711","$51,449.00"
19,20,89128,"36.196247, -115.263037","Las Vegas, Nevada","40,538","$51,161.00"
20,21,89156,"36.219187, -115.011923","Las Vegas, Nevada","22,568","$46,543.00"
21,22,89146,"36.143209, -115.226615","Las Vegas, Nevada","18,265","$44,820.00"
22,23,89108,"36.205406, -115.223280","Las Vegas, Nevada","66,558","$44,204.00"
23,24,89110,"36.157705, -114.996925","Las Vegas, Nevada","61,898","$43,073.00"
24,25,89118,"36.074638, -115.213929","Las Vegas, Nevada","16,471","$42,067.00"
25,26,89121,"36.121616, -115.090900","Las Vegas, Nevada","61,669","$40,542.00"
26,27,89107,"36.171241, -115.209288","Las Vegas, Nevada","36,180","$40,444.00"
27,28,89103,"36.112464, -115.212086","Las Vegas, Nevada","46,429","$36,953.00"
28,29,89122,"36.107704, -115.044485","Las Vegas, Nevada","25,795","$35,431.00"
29,30,89104,"36.151209, -115.109333","Las Vegas, Nevada","39,779","$34,252.00"
30,31,89102,"36.145187, -115.186547","Las Vegas, Nevada","37,600","$32,674.00"
31,32,89115,"36.271568, -114.998333","Las Vegas, Nevada","51,681","$31,370.00"
32,33,89119,"36.084617, -115.145950","Las Vegas, Nevada","48,693","$30,609.00"
33,34,89106,"36.183293, -115.165226","Las Vegas, Nevada","25,563","$28,527.00"
34,35,89109,"36.124824, -115.153683","Las Vegas, Nevada","40,855","$27,429.00"
35,36,89101,"36.172765, -115.123047","Las Vegas, Nevada","52,617","$23,166.00"

In [99]:
bad_zipcodes = set(df['postal_code']).difference(set(Ydata['Zip Code']))
# the remaining zip codes are just for PO boxes, physical location of these businesses must be
# determined by their lat, long

In [42]:
df.tail()

,address,attributes,categories,city,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state,price,main_category
28860,4655 Quality Ct,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Kitchen & Bath, Building Supplies, Home Servic...",Las Vegas,36.105866,-115.206215,Impressions Tile & Marble,NaN,89103,6,4.5,NV,0,"Home Services, Shopping"
28861,"3863 S Valley View Blvd, Ste 31",{'BusinessAcceptsCreditCards': 'True'},"Automotive, Body Shops, Auto Repair, Oil Chang...",Las Vegas,36.120743,-115.192017,Vegas Auto Repair,NaN,89103,9,4.5,NV,0,Automotive
28862,4322 W Flamingo Rd,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Beauty & Spas, Nail Salons, Active Life, Gyms,...",Las Vegas,36.114304,-115.193871,Recharge Salon & Fitness,NaN,89103,20,4.5,NV,3,"Active Life, Beauty & Spas"
28863,6166 W Flamingo Rd,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Beauty & Spas, Nail Salons, Hair Removal, Waxi...",Las Vegas,36.115367,-115.226848,Aloha Nails,NaN,89103,76,3.5,NV,2,Beauty & Spas
28864,"3900 Paradise Rd, Ste R","{'BikeParking': 'True', 'BusinessAcceptsCredit...","Makeup Artists, Men's Clothing, Swimwear, Shop...",Las Vegas,36.118697,-115.154269,Tito Jimy Salon and Boutique,Eastside,89169,8,4.0,NV,2,"Beauty & Spas, Shopping"

In [98]:
set(t).difference(set(df['postal_code']))

{21201,
 29936,
 30461,
 89002,
 89011,
 89012,
 89014,
 89015,
 89019,
 89030,
 89031,
 89032,
 89048,
 89052,
 89074,
 89081,
 89084,
 89085,
 89086,
 90014,
 90720,
 90831,
 91016,
 92647,
 94546,
 95133}

In [96]:
t = list(map(latlong_tozipcode, zip(df['latitude'], df['longitude'])))

In [97]:
df['zipcode'] = list(map(latlong_tozipcode, zip(df['latitude'], df['longitude'])))

In [105]:
df[~df['zipcode'].isin(set(vegas_zipcodes))][['postal_code','zipcode']]

       postal_code  zipcode
3                0    89031
28           89119    89014
87               0    89030
90           89119    89014
92               0    89031
96               0    89032
129          89101    89032
131              0    89012
241              0        0
244              0    89030
276          89123    89014
278          89119    89014
303          89119    89014
327          89119    89014
368          89131    89085
369              0    89030
376              0    89031
379              0    89052
416              0    89085
437          89131    89085
468              0    89012
483              0    89012
579          89183    89052
585          89115    89030
637          89130    89031
715          89131    89085
761          89123    89014
850              0    89030
911          89123    89014
947              0    89011
967              0    89085
983              0    89074
1014             0    89085
1043         89120    89014
1056             0    89030
1182         89130    89031
1308         89131    89085
1317         89183    89052
1396             0    89032
1442         89149    89031
1443         89183    89052
1478         89145    89014
1524             0    89032
1549         89183    89052
1610             0    89031
1630         89131    89085
1673         89123    89014
1674         89123    89014
1690         89131    89085
1853         89101    89011
1859             0    89052
1876         89119    89014
1943         89131    89031
1996         89123    89014
2036         89123    89014
2123             0    89085
2141         89183    89052
2155             0    89031
2186         89119    89014
2196         89119    89052
2215         89131    89031
2237         89131    89085
2250         89183    89052
2474             0    89032
2579         89183    89052
2676             0    89030
2687         89119    89014
2708         89131    89085
2745         89183    89052
2775             0    89074
2788         89131    89085
2809             0    89032
2818         89119    89052
2852         89131    89085
2855         89119    89014
3031         89131    89085
3104             0        0
3105         89130    89031
3107             0    89052
3115             0    89014
3116         89131    89085
3163         89131    89085
3164         89115    89030
3236         89131    89085
3239         89119    89014
3249         89131    89085
3352             0        0
3355             0    89030
3480             0    89085
3559         89131    89085
3570         89119    89014
3582         89119    89014
3586         89131    89031
3591         89119    89014
3631         89115    89084
3632             0    89032
3657         89131    89085
3693         89130    89030
3807             0    89014
3819         89183    89052
...            ...      ...
23391        89105    89052
23401        89101    89030
23462        89119    89014
23508        89131    89085
23512        89119    89014
23559            0    89074
23560            0    89074
23623        89120    89052
23656        89104    89030
23720            0    89031
23748        89119    89014
23794        89115    89084
23814        89119    89014
23865        89104        0
23901        89120    89014
23935        89166        0
23953        89115    89030
23990            0    89031
24077        89120    89014
24102        89115    89030
24117            0    89030
24131        89119    89014
24216        89130    89030
24301        89119    89014
24306        89115    89030
24375        89115    89030
24381        89131    89085
24412        89115    89030
24420        89131    89085
24426        89101    89002
24500            0    89081
24678        89128    89014
24709        89115    89030
24725        89115    89030
24827        89183    89052
24838        89131    89085
24841            0    89011
24855        89115    89030
24885            0    89031
24907        89115    89030
24917        89103    90831
24925        89115    89081
24998        89115    89030
25025        89115    89030
25057            0    89031
25088            0        0
25111        89105    89052
25142        89115    89081
25205        89115    89030
25223        89115    89081
25330        89123    89014
25349        89131    89031
25382        89115    89030
25414            0    89031
25418        89119    29936
25423        89115    89030
25439        89130    89085
25466        89115    89030
25475        89115    89030
25514        89115    89081
25543        89120    89014
25553        89115    89030
25583        89131    89085
25739        89131    89085
25874        89120    89014
25893        89183    89052
26152        89115    89030
26240        89131    89085
26262        89130    89031
26272        89123    89052
26274        89120    89074
26312        89123    89074
26483        89103    89014
26540            0    89011
26600        89130    89031
26826            0        0
26951        89120    89014
27059        89115    89084
27087        89131    89085
27204        89131    89085
27261            0    89031
27316        89115    89030
27341        89120    89014
27743        89130    89031
27801        89104    89015
27864            0    89031
27896            0    89031
27904        89104    89014
27940            0    89015
27989        89115    89030
28082            0    89031
28100        89120    89014
28199            0    89030
28210        89119    89014
28374        89120    89014
28455        89120    89014
28572        89130    89031
28667        89130    89031
28755        89166        0
28820            0    89086

[693 rows x 2 columns]

In [103]:
df['zipcode'].value_counts()

89109    2847
89103    1821
89101    1661
89102    1649
89147    1421
89146    1351
89123    1300
89119    1212
89169    1121
89128    1109
89118     930
89117     906
89113     869
89107     843
89145     798
89120     748
89121     700
89130     685
89144     658
89149     598
89104     576
89148     563
89106     521
89110     507
89183     480
89108     459
89139     343
89122     238
89134     226
89115     223
89129     191
89014     177
89141     145
89179     144
89085     118
89143     116
89030     110
89031      77
89138      64
89135      57
89052      56
89032      34
0          28
89166      23
89074      21
89131      20
89124      19
89081      15
89142      12
89012      11
89054      11
89084      11
89011       8
89086       7
89015       6
89161       5
89178       2
89019       2
89002       1
90014       1
91016       1
29936       1
30461       1
89048       1
90720       1
94546       1
21201       1
90831       1
95133       1
92647       1
Name: zipcode, dtype: int64

In [108]:
results.sort_values(ascending=False)[:200]

15878    7.994029e+06
17333    3.393894e+06
25418    3.160668e+06
7846     3.088254e+06
26826    9.011564e+05
12289    6.390267e+05
12154    6.110386e+05
24917    3.780776e+05
12056    3.704614e+05
10905    3.672562e+05
7585     3.616097e+05
6066     3.370235e+05
21509    3.168293e+05
12003    2.750879e+05
241      1.549299e+05
25088    1.435822e+05
3104     1.259141e+05
3352     7.895170e+04
22929    7.191085e+04
19800    6.126371e+04
5795     5.971009e+04
8628     5.955960e+04
7507     5.615010e+04
27010    5.005020e+04
19841    4.899625e+04
11509    4.832166e+04
6759     4.832166e+04
17134    4.796614e+04
12204    4.530206e+04
20853    4.530206e+04
12584    4.530206e+04
23935    4.530206e+04
4167     4.530206e+04
28755    4.530206e+04
21263    4.530206e+04
11656    4.530206e+04
19219    4.530206e+04
9523     4.530206e+04
10485    4.530206e+04
10565    4.530206e+04
22320    4.530206e+04
12643    4.530206e+04
9458     4.504370e+04
28118    4.498598e+04
6215     4.419634e+04
28028    4.352389e+04
7495     4.346247e+04
11964    4.346247e+04
28569    4.336686e+04
12693    4.215428e+04
9294     4.152521e+04
18254    4.087989e+04
23734    3.978988e+04
27970    3.978988e+04
18538    3.978988e+04
10335    3.970096e+04
24426    3.952504e+04
18987    3.928770e+04
20160    3.928537e+04
9065     3.829006e+04
10379    3.095638e+04
25398    3.063270e+04
4558     3.061355e+04
8260     3.032697e+04
15339    2.885115e+04
12599    2.873207e+04
21825    2.814255e+04
27708    2.771380e+04
15592    2.743723e+04
14437    2.733089e+04
11550    2.733089e+04
12022    2.733089e+04
2870     2.733089e+04
19681    2.733089e+04
13704    2.733089e+04
9100     2.733089e+04
10       2.733089e+04
10899    2.733089e+04
16483    2.733089e+04
7880     2.733089e+04
14187    2.733089e+04
15435    2.733089e+04
14188    2.733089e+04
8893     2.733089e+04
15038    2.733089e+04
18385    2.733089e+04
24876    2.733089e+04
14374    2.733089e+04
2157     2.733089e+04
2225     2.731569e+04
14455    2.677671e+04
20920    2.677671e+04
23794    2.677671e+04
3631     2.677671e+04
20050    2.677671e+04
27059    2.677671e+04
18591    2.677671e+04
10725    2.677671e+04
16521    2.677671e+04
21229    2.677671e+04
6622     2.677671e+04
13566    2.586955e+04
4362     2.586253e+04
7033     2.582473e+04
11156    2.537009e+04
17441    2.516009e+04
6121     2.512918e+04
27940    2.486797e+04
13703    2.455915e+04
26808    2.448386e+04
7739     2.436693e+04
7907     2.436693e+04
5112     2.436693e+04
21861    2.436693e+04
16728    2.436693e+04
16239    2.436693e+04
6920     2.436693e+04
23507    2.436693e+04
20517    2.436693e+04
5488     2.436693e+04
2493     2.436693e+04
541      2.436693e+04
15976    2.436693e+04
20542    2.436693e+04
8705     2.434963e+04
3453     2.424202e+04
3951     2.419108e+04
17792    2.418488e+04
13099    2.415110e+04
11086    2.409635e+04
10033    2.409635e+04
131      2.409635e+04
483      2.409635e+04
468      2.409635e+04
23684    2.406234e+04
5169     2.398758e+04
12336    2.394843e+04
1538     2.385179e+04
18494    2.378565e+04
27804    2.374976e+04
7749     2.374752e+04
28011    2.370648e+04
26540    2.369173e+04
26109    2.369147e+04
13254    2.363070e+04
21318    2.358135e+04
14496    2.355025e+04
17400    2.353316e+04
23944    2.351310e+04
20749    2.350091e+04
14147    2.349585e+04
23002    2.347846e+04
22140    2.345796e+04
20850    2.345778e+04
9439     2.344862e+04
25015    2.342045e+04
10868    2.341623e+04
19132    2.341469e+04
5352     2.341451e+04
18448    2.340566e+04
8207     2.338388e+04
14705    2.336515e+04
3850     2.336232e+04
17414    2.335292e+04
27254    2.335292e+04
1681     2.335292e+04
18082    2.334273e+04
23386    2.332740e+04
9588     2.332643e+04
16550    2.323026e+04
11219    2.321680e+04
15352    2.321506e+04
4646     2.321506e+04
6107     2.319291e+04
26499    2.319291e+04
25586    2.319291e+04
20851    2.319291e+04
26606    2.319291e+04
10824    2.319291e+04
24018    2.319291e+04
11588    2.319291e+04
9497     2.319130e+04
12134    2.319130e+04
25685    2.316087e+04
26687    2.312755e+04
27705    2.310122e+04
9865     2.309698e+04
22439    2.306313e+04
6312     2.306313e+04
9165     2.303584e+04
16008    2.298471e+04
26425    2.298095e+04
27058    2.296000e+04
18614    2.289845e+04
21420    2.289632e+04
26322    2.287045e+04
8054     2.285598e+04
16525    2.282003e+04
24841    2.278596e+04
947      2.278596e+04
dtype: float64

In [69]:
search = SearchEngine(simple_zipcode=True)

In [66]:
result = search.by_coordinates(39.122229, -77.133578, radius=10, returns=1)

In [68]:
result[0].to_dict()

{'zipcode': '20855',
 'zipcode_type': 'Standard',
 'major_city': 'Derwood',
 'post_office_city': 'Derwood, MD',
 'common_city_list': ['Derwood', 'Rockville'],
 'county': 'Montgomery County',
 'state': 'MD',
 'lat': 39.14,
 'lng': -77.13,
 'timezone': 'Eastern',
 'radius_in_miles': 4.0,
 'area_code_list': ['240', '301'],
 'population': 14295,
 'population_density': 1090.0,
 'land_area_in_sqmi': 13.11,
 'water_area_in_sqmi': 0.25,
 'housing_units': 5018,
 'occupied_housing_units': 4889,
 'median_home_value': 453900,
 'median_household_income': 120603,
 'bounds_west': -77.177635,
 'bounds_east': -77.099876,
 'bounds_north': 39.18584,
 'bounds_south': 39.101573}

### Census Block/Blockgroup Processing for Population/Income

In [156]:
def cut(geoid) :
    index = str(geoid)
    return int(index[0:(len(index)-3)])
cut(320030057022000)

320030057022

In [102]:
def matchincome(blockgroup) :
    try : return blockgroupincome.loc[blockgroup,'income']
    except : return 0

In [134]:
def matchpop(blockgroup) :
    try : return blockgrouppop.loc[blockgroup,'population']
    except : return 0

In [157]:
populations = pd.read_csv('tabblock2010_32_pophu.csv')
populations.columns = ['block','GEO.id2','population']
populations['blockgroup'] = populations['GEO.id2'].map(cut)
populations.set_index(['GEO.id2'],inplace=True)
populations.sort_index()

                 block  population    blockgroup
GEO.id2
320019501001000   1000           0  320019501001
320019501001001   1001           0  320019501001
320019501001002   1002           0  320019501001
320019501001003   1003           0  320019501001
320019501001004   1004           0  320019501001
320019501001005   1005           0  320019501001
320019501001006   1006           0  320019501001
320019501001007   1007           0  320019501001
320019501001008   1008           0  320019501001
320019501001009   1009           0  320019501001
320019501001010   1010           0  320019501001
320019501001011   1011           0  320019501001
320019501001012   1012           0  320019501001
320019501001013   1013           0  320019501001
320019501001014   1014           0  320019501001
320019501001015   1015           0  320019501001
320019501001016   1016           0  320019501001
320019501001017   1017           0  320019501001
320019501001018   1018           0  320019501001
320019501001019   1019           0  320019501001
320019501001020   1020           0  320019501001
320019501001021   1021           0  320019501001
320019501001022   1022           0  320019501001
320019501001023   1023           0  320019501001
320019501001024   1024           0  320019501001
320019501001025   1025           0  320019501001
320019501001026   1026           0  320019501001
320019501001027   1027           0  320019501001
320019501001028   1028           0  320019501001
320019501001029   1029           0  320019501001
320019501001030   1030           0  320019501001
320019501001031   1031           0  320019501001
320019501001032   1032           0  320019501001
320019501001033   1033           0  320019501001
320019501001034   1034           0  320019501001
320019501001035   1035           0  320019501001
320019501001036   1036           0  320019501001
320019501001037   1037           0  320019501001
320019501001038   1038           0  320019501001
320019501001039   1039           0  320019501001
320019501001040   1040           0  320019501001
320019501001041   1041           0  320019501001
320019501001042   1042           0  320019501001
320019501001043   1043           0  320019501001
320019501001044   1044           0  320019501001
320019501001045   1045           0  320019501001
320019501001046   1046           0  320019501001
320019501001047   1047           0  320019501001
320019501001048   1048           0  320019501001
320019501001049   1049           0  320019501001
320019501001050   1050           0  320019501001
320019501001051   1051           0  320019501001
320019501001052   1052           0  320019501001
320019501001053   1053           0  320019501001
320019501001054   1054           0  320019501001
320019501001055   1055           0  320019501001
320019501001056   1056           0  320019501001
320019501001057   1057           0  320019501001
320019501001058   1058           0  320019501001
320019501001059   1059           0  320019501001
320019501001060   1060           0  320019501001
320019501001061   1061           0  320019501001
320019501001062   1062           0  320019501001
320019501001063   1063           0  320019501001
320019501001064   1064           0  320019501001
320019501001065   1065           0  320019501001
320019501001066   1066           0  320019501001
320019501001067   1067           0  320019501001
320019501001068   1068           0  320019501001
320019501001069   1069           0  320019501001
320019501001070   1070           0  320019501001
320019501001071   1071           0  320019501001
320019501001072   1072           0  320019501001
320019501001073   1073           0  320019501001
320019501001074   1074           0  320019501001
320019501001075   1075           0  320019501001
320019501001076   1076           0  320019501001
320019501001077   1077           0  320019501001
320019501001078   1078           0  320019501001
320019501001079   1079           0  320019501001
320019501001080   1080           0  320019501001
320019501001081   1081           0  320019501001
320019501001082   1082           0  320019501001
320019501001083   1083           0  320019501001
320019501001084   1084           0  320019501001
320019501001085   1085           0  320019501001
320019501001086   1086           0  320019501001
320019501001087   1087           0  320019501001
320019501001088   1088           0  320019501001
320019501001089   1089           0  320019501001
320019501001090   1090           0  320019501001
320019501001091   1091           0  320019501001
320019501001092   1092           0  320019501001
320019501001093   1093           0  320019501001
320019501001094   1094           0  320019501001
320019501001095   1095           0  320019501001
320019501001096   1096           0  320019501001
320019501001097   1097           0  320019501001
320019501001098   1098           0  320019501001
320019501001099   1099           0  320019501001
...                ...         ...           ...
325100010021161   1161           0  325100010021
325100010021162   1162           0  325100010021
325100010021163   1163           0  325100010021
325100010021164   1164           0  325100010021
325100010021165   1165           0  325100010021
325100010021166   1166           0  325100010021
325100010021167   1167           0  325100010021
325100010021168   1168           0  325100010021
325100010021169   1169           0  325100010021
325100010021170   1170           0  325100010021
325100010021171   1171           0  325100010021
325100010021172   1172           0  325100010021
325100010021173   1173           0  325100010021
325100010021174   1174           0  325100010021
325100010021175   1175           0  325100010021
325100010021176   1176           0  325100010021
325100010021177   1177           0  325100010021
325100010021178   1178           0  325100010021
325100010021179   1179           0  325100010021
325100010021180   1180           0  325100010021
325100010021181   1181           0  325100010021
325100010021182   1182           0  325100010021
325100010021183   1183           0  325100010021
325100010021184   1184           0  325100010021
325100010021185   1185           0  325100010021
325100010021186   1186           0  325100010021
325100010021187   1187           0  325100010021
325100010021188   1188           7  325100010021
325100010021189   1189          10  325100010021
325100010021190   1190           0  325100010021
325100010021191   1191           0  325100010021
325100010021192   1192           0  325100010021
325100010021193   1193           0  325100010021
325100010021194   1194           0  325100010021
325100010021195   1195           0  325100010021
325100010021196   1196           0  325100010021
325100010021197   1197           0  325100010021
325100010021198   1198           0  325100010021
325100010021199   1199           0  325100010021
325100010021200   1200           0  325100010021
325100010021201   1201           0  325100010021
325100010021202   1202           0  325100010021
325100010021203   1203           0  325100010021
325100010021204   1204           0  325100010021
325100010021205   1205           0  325100010021
325100010021206   1206           0  325100010021
325100010021207   1207           0  325100010021
325100010021208   1208           0  325100010021
325100010021209   1209           0  325100010021
325100010021210   1210           0  325100010021
325100010021211   1211          12  325100010021
325100010021212   1212           0  325100010021
325100010021213   1213           0  325100010021
325100010021214   1214           0  325100010021
325100010021215   1215           0  325100010021
325100010021216   1216           0  325100010021
325100010021217   1217          15  325100010021
325100010021218   1218          23  325100010021
325100010021219   1219          50  325100010021
325100010022000   2000         262  325100010022
325100010022001   2001          49  325100010022
325100010022002   2002          22  325100010022
325100010022003   2003          67  325100010022
325100010022004   2004           0  325100010022
325100010022005   2005          70  325100010022
325100010022006   2006          35  325100010022
325100010022007   2007           5  325100010022
325100010022008   2008          29  325100010022
325100010022009   2009          11  325100010022
325100010022010   2010         209  325100010022
325100010022011   2011         257  325100010022
325100010022012   2012          87  325100010022
325100010022013   2013         115  325100010022
325100010022014   2014          87  325100010022
325100010022015   2015          43  325100010022
325100010023000   3000           4  325100010023
325100010023001   3001           0  325100010023
325100010023002   3002           0  325100010023
325100010023003   3003           0  325100010023
325100010023004   3004         207  325100010023
325100010023005   3005           0  325100010023
325100010023006   3006         130  325100010023
325100010023007   3007          29  325100010023
325100010023008   3008          75  325100010023
325100010023009   3009          39  325100010023
325100010023010   3010          15  325100010023
325100010023011   3011           3  325100010023
325100010023012   3012         162  325100010023
325100010023013   3013         101  325100010023
325100010023014   3014          18  325100010023
325100010023015   3015          32  325100010023
325100010023016   3016          68  325100010023
325100010023017   3017          81  325100010023
325100010023018   3018          17  325100010023
325109900000001      1           0  325109900000
325109900000002      2           0  325109900000
325109900000003      3           0  325109900000
325109900000004      4           0  325109900000
325109900000005      5           0  325109900000
325109900000006      6           0  325109900000

[84538 rows x 3 columns]

In [158]:
populations['income'] = populations['blockgroup'].map(matchincome)
populations.tail()

                 block  population    blockgroup income
GEO.id2
325100010021034   1034           0  325100010021      0
325100003003034   3034          26  325100003003      0
325100005022005   2005          81  325100005022      0
325100003002098   2098           0  325100003002      0
325100007021009   1009           0  325100007021      0

In [159]:
blockgroupincome = pd.read_csv('ClarkCountyIncome.csv', index_col='GEO.id2', usecols=[1,3])
blockgroupincome.columns = ['income']
blockgroupincome.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1291 entries, 320030001011 to 320030078003
Data columns (total 1 columns):
income    1291 non-null object
dtypes: object(1)
memory usage: 20.2+ KB

In [171]:
blockgrouppop = pd.read_csv('ClarkCountyPop.csv', index_col='GEO.id2', usecols=[1,3])
blockgrouppop.columns = ['population']
blockgrouppop.sum()

population    2112436
dtype: int64

In [162]:
populations['blockgrouppop'] = populations['blockgroup'].map(matchpop)
populations.tail()

                 block  population    blockgroup income  blockgrouppop
GEO.id2
325100010021034   1034           0  325100010021      0              0
325100003003034   3034          26  325100003003      0              0
325100005022005   2005          81  325100005022      0              0
325100003002098   2098           0  325100003002      0              0
325100007021009   1009           0  325100007021      0              0

### Census Block Processing, Calculate Distance to Block

In [209]:
features = ['distance','urban','latitude','longitude','blockgroup','income',
                'blockgrouppop','population','landarea','waterarea','block']

In [206]:
def blocksdropna(df) :
    df.drop(df[df['income']==0].index, inplace=True)
    df.drop(df[df['income']=='-'].index, inplace=True)
    df.drop(df[df['population']<10].index, inplace=True)
    
# blocks.shape

(12606, 11)

In [207]:
# blocksdropna(blocks)
# blocks.shape

In [166]:
blocks = pd.read_csv('ClarkCountyCensusBlocks.csv', usecols=[3,4,7,11,12,13,14])
blocks.columns = ['block','GEO.id2','urban','landarea','waterarea','latitude','longitude']
blocks['blockgroup'] = blocks['GEO.id2'].map(cut)
blocks = blocks.set_index('GEO.id2')
blocks.sort_index()

,block,urban,landarea,waterarea,latitude,longitude,blockgroup
GEO.id2,,,,,,,
320030001011000,1000,U,357768,16683,36.179058,-115.183382,320030001011
320030001011001,1001,U,32801,0,36.180220,-115.188733,320030001011
320030001011002,1002,U,23798,0,36.180744,-115.191060,320030001011
320030001011003,1003,U,124999,0,36.176903,-115.188043,320030001011
320030001011004,1004,U,39134,0,36.176385,-115.183643,320030001011
320030001011005,1005,U,22072,0,36.176302,-115.180325,320030001011
320030001011006,1006,U,11960,0,36.176565,-115.178053,320030001011
320030001011007,1007,U,11847,0,36.176552,-115.177206,320030001011
320030001011008,1008,U,40454,0,36.178057,-115.177763,320030001011
320030001011009,1009,U,11726,0,36.179580,-115.178562,320030001011
320030001011010,1010,U,14525,0,36.179997,-115.191500,320030001011
320030001011011,1011,U,33795,0,36.179230,-115.191060,320030001011
320030001011012,1012,U,24973,0,36.178683,-115.190051,320030001011
320030001011013,1013,U,15024,0,36.178149,-115.188485,320030001011
320030001011014,1014,U,26494,0,36.177760,-115.190724,320030001011
320030001011015,1015,U,9499,0,36.176580,-115.190598,320030001011
320030001011016,1016,U,10736,0,36.176342,-115.190629,320030001011
320030001011017,1017,U,13114,0,36.175495,-115.177573,320030001011
320030001012000,2000,U,49393,0,36.179669,-115.193859,320030001012
320030001012001,2001,U,22193,0,36.179960,-115.195149,320030001012
320030001012002,2002,U,21605,0,36.179936,-115.196099,320030001012
320030001012003,2003,U,25275,0,36.179801,-115.197100,320030001012
320030001012004,2004,U,45622,0,36.179937,-115.198700,320030001012
320030001012005,2005,U,201414,0,36.179197,-115.201543,320030001012
320030001012006,2006,U,48014,0,36.178987,-115.203191,320030001012
320030001012007,2007,U,19315,0,36.177733,-115.195664,320030001012
320030001012008,2008,U,40195,0,36.178451,-115.197122,320030001012
320030001012009,2009,U,27829,0,36.178905,-115.192946,320030001012
320030001012010,2010,U,315079,0,36.175845,-115.200809,320030001012
320030001012011,2011,U,7470,0,36.176143,-115.194298,320030001012
320030001012012,2012,U,37836,0,36.175929,-115.199525,320030001012
320030001012013,2013,U,8923,0,36.173691,-115.203940,320030001012
320030001012014,2014,U,40739,0,36.175993,-115.194200,320030001012
320030001012015,2015,U,270,0,36.173312,-115.205850,320030001012
320030001013000,3000,U,1026414,0,36.184898,-115.198920,320030001013
320030001013001,3001,U,36074,0,36.182911,-115.190220,320030001013
320030001013002,3002,U,64435,0,36.185076,-115.191298,320030001013
320030001013003,3003,U,39790,0,36.182170,-115.191998,320030001013
320030001013004,3004,U,21542,0,36.182318,-115.193394,320030001013
320030001014000,4000,U,20631,0,36.187973,-115.186477,320030001014
320030001014001,4001,U,55519,0,36.186627,-115.188867,320030001014
320030001014002,4002,U,18925,0,36.186814,-115.187833,320030001014
320030001014003,4003,U,25948,0,36.187131,-115.186643,320030001014
320030001014004,4004,U,15993,0,36.186019,-115.184971,320030001014
320030001014005,4005,U,26627,0,36.184854,-115.183573,320030001014
320030001014006,4006,U,16304,0,36.185599,-115.185672,320030001014
320030001014007,4007,U,25998,0,36.185007,-115.187992,320030001014
320030001014008,4008,U,31986,0,36.184406,-115.186196,320030001014
320030001014009,4009,U,26399,0,36.182258,-115.185285,320030001014
320030001014010,4010,U,18323,0,36.182929,-115.184759,320030001014
320030001014011,4011,U,23245,0,36.183142,-115.183883,320030001014
320030001014012,4012,U,16694,0,36.183871,-115.183143,320030001014
320030001014013,4013,U,8836,0,36.184394,-115.182633,320030001014
320030001014014,4014,U,44565,0,36.182353,-115.182227,320030001014
320030001014015,4015,U,13938,0,36.181661,-115.180950,320030001014
320030001014016,4016,U,9476,0,36.181852,-115.180244,320030001014
320030001014017,4017,U,26298,0,36.182663,-115.186714,320030001014
320030001014018,4018,U,40088,0,36.183152,-115.188862,320030001014
320030001014019,4019,U,39578,0,36.182305,-115.187917,320030001014
320030001014020,4020,U,9475,0,36.181365,-115.184556,320030001014
320030001015000,5000,U,31935,0,36.186000,-115.179313,320030001015
320030001015001,5001,U,26106,0,36.187135,-115.179927,320030001015
320030001015002,5002,U,31219,0,36.187601,-115.181048,320030001015
320030001015003,5003,U,22945,0,36.187248,-115.182151,320030001015
320030001015004,5004,U,24980,0,36.188065,-115.184337,320030001015
320030001015005,5005,U,23383,0,36.185059,-115.180407,320030001015
320030001015006,5006,U,19512,0,36.184798,-115.181265,320030001015
320030001015007,5007,U,23396,0,36.186768,-115.183009,320030001015
320030001015008,5008,U,17301,0,36.186367,-115.183650,320030001015
320030001015009,5009,U,15044,0,36.184430,-115.181885,320030001015
320030001015010,5010,U,43963,0,36.182806,-115.179747,320030001015
320030001031000,1000,U,32270,0,36.166042,-115.235229,320030001031
320030001031001,1001,U,33677,0,36.166059,-115.239739,320030001031
320030001031002,1002,U,24343,0,36.165343,-115.238249,320030001031
320030001031003,1003,U,29276,0,36.165197,-115.235014,320030001031
320030001031004,1004,U,29448,0,36.163404,-115.235081,320030001031
320030001031005,1005,U,35534,0,36.164299,-115.234357,320030001031
320030001031006,1006,U,24373,0,36.164656,-115.238265,320030001031
320030001031007,1007,U,31408,0,36.164889,-115.241116,320030001031
320030001031008,1008,U,9897,0,36.163967,-115.240755,320030001031
320030001031009,1009,U,36279,0,36.163773,-115.238059,320030001031
320030001032000,2000,U,51061,0,36.164760,-115.224611,320030001032
320030001032001,2001,U,27560,0,36.164769,-115.225839,320030001032
320030001032002,2002,U,28085,0,36.164774,-115.226710,320030001032
320030001032003,2003,U,28444,0,36.164785,-115.227595,320030001032
320030001032004,2004,U,36526,0,36.166026,-115.230525,320030001032
320030001032005,2005,U,34410,0,36.165318,-115.230532,320030001032
320030001032006,2006,U,34446,0,36.164629,-115.230546,320030001032
320030001032007,2007,U,39485,0,36.163870,-115.230330,320030001032
320030001032008,2008,U,30446,0,36.163209,-115.230958,320030001032
320030001033000,3000,U,23682,0,36.162567,-115.234860,320030001033
320030001033001,3001,U,22571,0,36.162885,-115.238104,320030001033
320030001033002,3002,U,12849,0,36.163252,-115.240556,320030001033
320030001033003,3003,U,142317,0,36.160778,-115.239883,320030001033
320030001033004,3004,U,22621,0,36.162161,-115.238128,320030001033
320030001033005,3005,U,23652,0,36.161866,-115.234874,320030001033
320030001033006,3006,U,27626,0,36.161106,-115.234880,320030001033
320030001033007,3007,U,22612,0,36.161425,-115.238108,320030001033
320030001033008,3008,U,37433,0,36.159998,-115.235522,320030001033
320030001034000,4000,U,62365,0,36.161201,-115.224699,320030001034
...,...,...,...,...,...,...,...
320030078001082,1082,R,156824,0,36.244967,-114.941830,320030078001
320030078001083,1083,R,185788,0,36.246069,-114.940718,320030078001
320030078001084,1084,R,178752,0,36.247197,-114.939850,320030078001
320030078001085,1085,R,146330,0,36.248895,-114.941190,320030078001
320030078001086,1086,R,56876,0,36.246126,-114.932607,320030078001
320030078001087,1087,R,1937060,0,36.242649,-114.959990,320030078001
320030078001088,1088,R,3757,0,36.243704,-114.975691,320030078001
320030078001089,1089,R,62870,0,36.242333,-114.937915,320030078001
320030078001090,1090,R,3264,0,36.243407,-114.973857,320030078001
320030078001091,1091,R,535890,0,36.240812,-114.951359,320030078001
320030078001092,1092,R,80511,0,36.244609,-114.980798,320030078001
320030078001093,1093,R,1558093,0,36.246056,-114.993723,320030078001
320030078001094,1094,R,9476,0,36.252510,-114.990461,320030078001
320030078001095,1095,R,15083,0,36.246841,-115.004467,320030078001
320030078001096,1096,R,37329,0,36.243215,-114.987493,320030078001
320030078001097,1097,R,1553760,0,36.254639,-115.001512,320030078001
320030078001098,1098,R,1767,0,36.266165,-115.009344,320030078001
320030078001099,1099,R,10247,0,36.266597,-115.009411,320030078001
320030078001100,1100,R,36564,0,36.250373,-114.976830,320030078001
320030078001101,1101,R,29360,0,36.248739,-114.980600,320030078001
320030078001102,1102,R,68667,0,36.249365,-114.936131,320030078001
320030078001103,1103,R,3804409,0,36.234076,-114.935124,320030078001
320030078001104,1104,R,377662,0,36.246987,-114.921428,320030078001
320030078001105,1105,R,118666,0,36.247760,-114.971258,320030078001
320030078001106,1106,R,1002402,0,36.260418,-114.924703,320030078001
320030078001107,1107,R,89690,0,36.266589,-114.920541,320030078001
320030078001108,1108,R,91446,0,36.263147,-114.922650,320030078001
320030078001109,1109,R,1700,0,36.282205,-115.024600,320030078001
320030078001110,1110,R,18722,0,36.283130,-115.023387,320030078001
320030078001111,1111,R,2572631,0,36.236321,-115.009441,320030078001
320030078001112,1112,R,5719851,0,36.232524,-114.984914,320030078001
320030078001113,1113,R,35715,0,36.240492,-114.990281,320030078001
320030078001114,1114,R,1670352,0,36.233955,-114.957989,320030078001
320030078001115,1115,R,12669933,0,36.218382,-114.922502,320030078001
320030078001116,1116,R,16541,0,36.222852,-114.897621,320030078001
320030078001117,1117,R,42031,0,36.214711,-114.900617,320030078001
320030078001118,1118,R,85277,0,36.216835,-114.897748,320030078001
320030078001119,1119,R,1376160,0,36.221540,-114.946909,320030078001
320030078001120,1120,R,21377,0,36.224882,-114.894961,320030078001
320030078001121,1121,R,1341683,0,36.234574,-114.887800,320030078001
320030078001122,1122,R,45498,0,36.224876,-114.890016,320030078001
320030078001123,1123,R,468693,0,36.221483,-114.893469,320030078001
320030078001124,1124,R,44277,0,36.215997,-114.896438,320030078001
320030078001125,1125,R,7851,0,36.214212,-114.899652,320030078001
320030078001126,1126,R,2118,0,36.282527,-115.024902,320030078001
320030078001127,1127,R,1170,0,36.282590,-115.025216,320030078001
320030078001128,1128,R,56028,0,36.304688,-114.962460,320030078001
320030078001129,1129,R,100795,0,36.306088,-114.960644,320030078001
320030078001130,1130,R,102125,0,36.202072,-114.929061,320030078001
320030078001131,1131,R,5282,0,36.201897,-114.934811,320030078001
320030078001132,1132,R,3030,0,36.245162,-114.983045,320030078001
320030078001133,1133,R,6687413,0,36.221214,-114.985965,320030078001
320030078002000,2000,R,13424006,0,36.235969,-115.032300,320030078002
320030078002001,2001,U,112289,0,36.243176,-115.048647,320030078002
320030078002002,2002,U,40163,0,36.240783,-115.038893,320030078002
320030078002003,2003,R,19831,0,36.246333,-115.009223,320030078002
320030078002004,2004,R,6253,0,36.248456,-115.040238,320030078002
320030078002005,2005,U,38458,0,36.238602,-115.041996,320030078002
320030078002006,2006,U,114614,0,36.243147,-115.039515,320030078002
320030078002007,2007,U,27269,0,36.237971,-115.043610,320030078002
320030078002008,2008,R,119460,0,36.244414,-115.008451,320030078002
320030078002009,2009,R,1252,0,36.246919,-115.014505,320030078002
320030078002010,2010,R,36101,0,36.251440,-115.035372,320030078002
320030078002011,2011,U,354161,0,36.233731,-115.049118,320030078002
320030078002012,2012,U,5639,0,36.209660,-115.052789,320030078002
320030078002013,2013,R,12904,0,36.247188,-115.042590,320030078002
320030078002014,2014,U,89124,0,36.205443,-115.056370,320030078002
320030078002015,2015,U,199039,0,36.237822,-115.051270,320030078002
320030078002016,2016,U,17540,0,36.241611,-115.049314,320030078002
320030078002017,2017,U,8992,0,36.241355,-115.048649,320030078002
320030078002018,2018,U,59759,0,36.243370,-115.046760,320030078002
320030078002019,2019,U,46299,0,36.240820,-115.051771,320030078002
320030078002020,2020,U,10177,0,36.240995,-115.049827,320030078002
320030078002021,2021,U,63851,0,36.241355,-115.046948,320030078002
320030078002022,2022,U,53034,0,36.241346,-115.044230,320030078002
320030078002023,2023,U,80490,0,36.241451,-115.040708,320030078002
320030078002024,2024,U,23602,0,36.240171,-115.042382,320030078002
320030078002025,2025,U,25055,0,36.239724,-115.044212,320030078002
320030078002026,2026,U,33128,0,36.239756,-115.046946,320030078002
320030078002027,2027,U,21579,0,36.238352,-115.048838,320030078002
320030078002028,2028,U,24548,0,36.238092,-115.048001,320030078002
320030078002029,2029,U,22552,0,36.238098,-115.046954,320030078002
320030078002030,2030,U,22303,0,36.238075,-115.045951,320030078002
320030078002031,2031,U,28788,0,36.238068,-115.044813,320030078002
320030078003000,3000,U,114150,0,36.237873,-115.057838,320030078003
320030078003001,3001,U,505859,0,36.229302,-115.057910,320030078003
320030078003002,3002,U,45550,0,36.237221,-115.053826,320030078003
320030078003003,3003,U,40419,0,36.232542,-115.056721,320030078003
320030078003004,3004,U,15290,0,36.231584,-115.055124,320030078003
320030078003005,3005,U,14010,0,36.230830,-115.060425,320030078003
320030078003006,3006,U,31032,0,36.233512,-115.059815,320030078003
320030078003007,3007,U,17666,0,36.236102,-115.056839,320030078003
320030078003008,3008,U,69259,0,36.236480,-115.055312,320030078003
320030078003009,3009,U,18215,0,36.231174,-115.058456,320030078003
320030078003010,3010,U,48344,0,36.233978,-115.060597,320030078003
320030078003011,3011,U,101908,0,36.234357,-115.058281,320030078003
320030078003012,3012,U,18282,0,36.231156,-115.057610,320030078003
320030078003013,3013,U,41204,0,36.232608,-115.053033,320030078003
320030078003014,3014,U,38373,0,36.234368,-115.054699,320030078003
320030078003015,3015,U,53700,0,36.232848,-115.054851,320030078003

In [167]:
blocks = blocks.join(populations.loc[:,['income','blockgrouppop','population']], how='inner')

In [170]:
blocks[['blockgrouppop','population']].sum()

blockgrouppop    50933926
population        1951269
dtype: int64

In [172]:
blocks[(blocks['population']!=0) & (blocks['income']==0)] # must drop as don't have y target (income)

,block,urban,landarea,waterarea,latitude,longitude,blockgroup,income,blockgrouppop,population
GEO.id2,,,,,,,,,,
320030024033000,3000,U,225343,0,36.128166,-115.150390,320030024033,0,18,520
320030057031022,1022,R,46826549,0,35.748407,-115.284956,320030057031,0,14,150
320030067004002,4002,U,42787,0,36.117026,-115.156401,320030067004,0,11,20

In [173]:
blocks[(blocks['population']!=0) & (blocks['blockgrouppop']==0)]

,block,urban,landarea,waterarea,latitude,longitude,blockgroup,income,blockgrouppop,population
GEO.id2,,,,,,,,,,
320030038004000,4000,U,23640,0,36.195029,-115.128999,320030038004,-,0,10
320030038004001,4001,U,24154,0,36.195301,-115.130714,320030038004,-,0,6
320030038004003,4003,U,73567,0,36.193800,-115.132565,320030038004,-,0,5
320030060015005,5005,U,25262,0,36.248036,-115.050882,320030060015,-,0,55

In [180]:
blocks[(blocks['population']!=0) & (blocks['income']=='-')] # must drop as don't have y target (income)

,block,urban,landarea,waterarea,latitude,longitude,blockgroup,income,blockgrouppop,population,distance
GEO.id2,,,,,,,,,,,
320030038004000,4000,U,23640,0,36.195029,-115.128999,320030038004,-,0,10,8780.292064
320030038004001,4001,U,24154,0,36.195301,-115.130714,320030038004,-,0,6,8761.306822
320030038004003,4003,U,73567,0,36.193800,-115.132565,320030038004,-,0,5,8553.026643
320030060015005,5005,U,25262,0,36.248036,-115.050882,320030060015,-,0,55,17268.210579

In [174]:
search = SearchEngine(simple_zipcode=True)
zipcode = search.by_zipcode("89109")

In [175]:
blocks['distance'] = blocks.apply(
    (lambda row : calcDist(row['latitude'],row['longitude'],zipcode.lat, zipcode.lng)),         
    axis=1)

In [191]:
blocks = blocks[blocks['distance']<15000].sort_values('distance', ascending=True)

In [200]:
blocks = blocks.reindex(['distance','urban','latitude','longitude','blockgroup','income',
                'blockgrouppop','population','landarea','waterarea','block'], axis=1)
blocks.head()

,distance,urban,latitude,longitude,blockgroup,income,blockgrouppop,population,landarea,waterarea,block
GEO.id2,,,,,,,,,,,
320030067004001,157.386940,U,36.119255,-115.158512,320030067004,0,11,0,112418,0,4001
320030067002000,184.630211,U,36.120770,-115.161818,320030067002,-,0,0,141076,0,2000
320030067004000,329.705521,U,36.120085,-115.156339,320030067004,0,11,0,77241,0,4000
320030067003000,383.080195,U,36.116803,-115.161605,320030067003,103335,318,529,224831,0,3000
320030067004003,391.658016,U,36.117716,-115.156684,320030067004,0,11,0,14593,0,4003

In [201]:
blocks[blocks['distance']<15000][['population']].sum()

population    1358409
dtype: int64

### Bootstrapping Rows for Blocks df to match Block Population

In [272]:
def bootstrapBlocks(blocksdf) :
    c = 0
    df = blocksdf.copy()
    print(df.index)
    for index in blocksdf[blocksdf['population']>100].index :
#         if c < 50 : 
#             c += 10
        iterpop = int(np.ceil(blocksdf.loc[index,'population'] / 100))
        lis = [pd.Series(data=blocksdf.loc[index].values, name=index+(10**15*i),
                        index=blocksdf.columns) for i in range(1,iterpop)]
#         print(len(lis))
        df = df.append(lis) # more efficient and faster to append all at once
    return df

In [241]:
320030067003000+10**15

1320030067003000

In [270]:
blocks = bootstrapBlocks(blocks)
blocks.shape

Int64Index([320030067003000, 320030067001020, 320030024051000, 320030024032001,
            320030024032000, 320030024053002, 320030024034000, 320030026052000,
            320030024031004, 320030024053001,
            ...
            320030053551021, 320030047032009, 320030032184017, 320030032112011,
            320030034111008, 320030036391017, 320030062031000, 320030058463012,
            320030058432007, 320030058461000],
           dtype='int64', name='GEO.id2', length=10029)

(18844, 11)

In [276]:
blocks.to_csv('LasVegasTrainRowCoords.csv',
          sep=';',
          header=True,
          index=True,
          compression='gzip')

### Latitude, Longitude, Calculate Distances and Zipcodes (is no long used)

### Writing csv files for US Cities from Kaggle's Yelp Business Dataset

In [2]:
test = pd.read_json('yelp_academic_dataset_business.json', lines=True)
test.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,1314 44 Avenue NE,"{'BikeParking': 'False', 'BusinessAcceptsCredi...",Apn5Q_b6Nz61Tq4XzPdf9A,"Tours, Breweries, Pizza, Restaurants, Food, Ho...",Calgary,"{'Monday': '8:30-17:0', 'Tuesday': '11:0-21:0'...",1,51.091813,-114.031675,Minhas Micro Brewery,,T2E 6L6,24,4.0,AB
1,,"{'Alcohol': 'none', 'BikeParking': 'False', 'B...",AjEbIBw6ZFfln7ePHha9PA,"Chicken Wings, Burgers, Caterers, Street Vendo...",Henderson,"{'Friday': '17:0-23:0', 'Saturday': '17:0-23:0...",0,35.960734,-114.939821,CK'S BBQ & Catering,,89002,3,4.5,NV
2,1335 rue Beaubien E,"{'Alcohol': 'beer_and_wine', 'Ambience': '{'ro...",O8S5hYJ1SMc8fA4QBtVujA,"Breakfast & Brunch, Restaurants, French, Sandw...",Montral,"{'Monday': '10:0-22:0', 'Tuesday': '10:0-22:0'...",0,45.540503,-73.599300,La Bastringue,Rosemont-La Petite-Patrie,H2G 1K7,5,4.0,QC
3,211 W Monroe St,None,bFzdJJ3wp3PZssNEsyU23g,"Insurance, Financial Services",Phoenix,None,1,33.449999,-112.076979,Geico Insurance,,85003,8,1.5,AZ
4,2005 Alyth Place SE,{'BusinessAcceptsCreditCards': 'True'},8USyCYqpScwiNEb58Bt6CA,"Home & Garden, Nurseries & Gardening, Shopping...",Calgary,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,51.035591,-114.027366,Action Engine,,T2H 0N5,4,2.0,AB

In [6]:
test.iloc[0,3]

'Tours, Breweries, Pizza, Restaurants, Food, Hotels & Travel'

In [5]:
test.drop('hours', axis=1, inplace=True)

In [7]:
test.drop('is_open', axis=1, inplace=True)

In [8]:
test.drop('business_id', axis=1, inplace=True)

In [9]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188593 entries, 0 to 188592
Data columns (total 12 columns):
address         188593 non-null object
attributes      162807 non-null object
categories      188052 non-null object
city            188593 non-null object
latitude        188587 non-null float64
longitude       188587 non-null float64
name            188593 non-null object
neighborhood    188593 non-null object
postal_code     188593 non-null object
review_count    188593 non-null int64
stars           188593 non-null float64
state           188593 non-null object
dtypes: float64(3), int64(1), object(8)
memory usage: 17.3+ MB

In [16]:
test[test['city']=='Las Vegas'].to_csv('LasVegasBusinesses.csv',
                                      sep=';',
                                      header=True,
                                      index=False,
                                      compression='gzip')

In [17]:
test[test['city']=='Phoenix'].to_csv('PhoenixBusinesses.csv',
                                      sep=';',
                                      header=True,
                                      index=False,
                                      compression='gzip')

In [18]:
test[test['city']=='Charlotte'].to_csv('CharlotteBusinesses.csv',
                                      sep=';',
                                      header=True,
                                      index=False,
                                      compression='gzip')

In [19]:
test[test['city']=='Pittsburgh'].to_csv('PittsburghBusinesses.csv',
                                      sep=';',
                                      header=True,
                                      index=False,
                                      compression='gzip')

### Business Density Plot by Jagan Gupta from Kaggle

In [ ]:
# Code from https://www.kaggle.com/jagangupta for Kaggle's yelp challenge in
# https://www.kaggle.com/jagangupta/what-s-in-a-review-yelp-ratings-eda/notebook


import imageio
import folium
import folium.plugins as plugins
from mpl_toolkits.basemap import Basemap

f, (ax1, ax2) = plt.subplots(1, 2, figsize=(15,7))

#a random point inside vegas
lat = 36.207430
lon = -115.268460
#some adjustments to get the right pic
lon_min, lon_max = lon-0.3,lon+0.5
lat_min, lat_max = lat-0.4,lat+0.5
#subset for vegas
ratings_data_vegas=rating_data[(rating_data["longitude"]>lon_min) &\
                    (rating_data["longitude"]<lon_max) &\
                    (rating_data["latitude"]>lat_min) &\
                    (rating_data["latitude"]<lat_max)]

#Facet scatter plot
ratings_data_vegas.plot(kind='scatter', x='longitude', y='latitude',
                color='yellow', 
                s=.02, alpha=.6, subplots=True, ax=ax1)
ax1.set_title("Las Vegas")
ax1.set_facecolor('black')

#a random point inside pheonix
lat = 33.435463
lon = -112.006989
#some adjustments to get the right pic
lon_min, lon_max = lon-0.3,lon+0.5
lat_min, lat_max = lat-0.4,lat+0.5
#subset for pheonix
ratings_data_pheonix=rating_data[(rating_data["longitude"]>lon_min) &\
                    (rating_data["longitude"]<lon_max) &\
                    (rating_data["latitude"]>lat_min) &\
                    (rating_data["latitude"]<lat_max)]
#plot pheonix
ratings_data_pheonix.plot(kind='scatter', x='longitude', y='latitude',
                color='yellow', 
                s=.02, alpha=.6, subplots=True, ax=ax2)
ax2.set_title("Pheonix")
ax2.set_facecolor('black')
f.show()

In [ ]:
data=[]
#rearranging data to suit the format needed for folium
stars_list=list(rating_data['stars'].unique())
for star in stars_list:
    subset=ratings_data_vegas[ratings_data_vegas['stars']==star]
    data.append(subset[['latitude','longitude']].values.tolist())
#initialize at vegas
lat = 36.127430
lon = -115.138460
zoom_start=11
print("                     Vegas Review heatmap Animation ")

# basic map
m = folium.Map(location=[lat, lon], tiles="OpenStreetMap", zoom_start=zoom_start)
#inprovising the Heatmapwith time plugin to show variations across star ratings 
hm = plugins.HeatMapWithTime(data,max_opacity=0.3,auto_play=True,display_index=True,radius=7)
hm.add_to(m)
m