In [39]:
%run imports_and_functions.ipynb

### Cleaning and Exporting Final Las Vegas Dataset

In [2]:
df = pd.read_csv('LasVegasBusinesses.csv', compression='gzip', sep=';')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28865 entries, 0 to 28864
Data columns (total 12 columns):
address         27073 non-null object
attributes      24706 non-null object
categories      28785 non-null object
city            28865 non-null object
latitude        28864 non-null float64
longitude       28864 non-null float64
name            28865 non-null object
neighborhood    23607 non-null object
postal_code     28765 non-null float64
review_count    28865 non-null int64
stars           28865 non-null float64
state           28865 non-null object
dtypes: float64(4), int64(1), object(7)
memory usage: 2.6+ MB

In [10]:
df['postal_code'].replace(np.nan, 0, inplace=True)

In [11]:
df[df['postal_code'].isnull()]

Empty DataFrame
Columns: [address, attributes, categories, city, latitude, longitude, name, neighborhood, postal_code, review_count, stars, state]
Index: []

In [15]:
df.loc[:,'postal_code'] = df['postal_code'].astype(int, copy=False)

In [96]:
df.tail()

,address,attributes,categories,city,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state,price
28860,4655 Quality Ct,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Kitchen & Bath, Building Supplies, Home Servic...",Las Vegas,36.105866,-115.206215,Impressions Tile & Marble,NaN,89103,6,4.5,NV,0
28861,"3863 S Valley View Blvd, Ste 31",{'BusinessAcceptsCreditCards': 'True'},"Automotive, Body Shops, Auto Repair, Oil Chang...",Las Vegas,36.120743,-115.192017,Vegas Auto Repair,NaN,89103,9,4.5,NV,0
28862,4322 W Flamingo Rd,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Beauty & Spas, Nail Salons, Active Life, Gyms,...",Las Vegas,36.114304,-115.193871,Recharge Salon & Fitness,NaN,89103,20,4.5,NV,3
28863,6166 W Flamingo Rd,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Beauty & Spas, Nail Salons, Hair Removal, Waxi...",Las Vegas,36.115367,-115.226848,Aloha Nails,NaN,89103,76,3.5,NV,2
28864,"3900 Paradise Rd, Ste R","{'BikeParking': 'True', 'BusinessAcceptsCredit...","Makeup Artists, Men's Clothing, Swimwear, Shop...",Las Vegas,36.118697,-115.154270,Tito Jimy Salon and Boutique,Eastside,89169,8,4.0,NV,2

In [35]:
'active life' in df.tail().iloc[2,2].lower()

True

In [23]:
df[~(df['postal_code'].isin(vegas_zipcodes))]['postal_code'].value_counts()

0         100
88901      63
89032      45
89030      45
89031      32
89052      23
89014      20
89084      17
89074      16
89081      11
89012       7
89011       5
89019       5
90210       2
89085       2
89015       1
85705       1
86023       1
88113       1
78409       1
88147       1
89181       1
89184       1
89053       1
6280        1
87701       1
92328       1
71863       1
891118      1
89018       1
89046       1
88905       1
93013       1
98145       1
68451       1
94066       1
89039       1
89003       1
89004       1
90720       1
89037       1
90001       1
Name: postal_code, dtype: int64

In [19]:
vegas_zipcodes = [
89044,89054,89101,89102,89103,89104,89105,89106,89107,89108,89109,89110,89111,89112,89113,89114,
89115,89116,89117,89118,89119,89120,89121,89122,89123,89124,89125,89126,89127,89128,89129,89130,
89131,89132,89133,89134,89135,89136,89137,89138,89139,89140,89141,89142,89143,89144,89145,89146,
89147,89148,89149,89150,89151,89152,89153,89154,89155,89156,89157,89158,89159,89160,89161,89162,
89163,89164,89165,89166,89169,89170,89173,89177,89178,89179,89180,89183,89185,89191,89193,89195,89199]
# From https://data.mongabay.com/igapo/zip_codes/NV.htm#i5DwGpyATaUgxp84.99

In [27]:
df.loc[~(df['postal_code'].isin(vegas_zipcodes)),'postal_code'] = 0

In [93]:
def getPriceRange(string) :
    regex = re.compile("RestaurantsPriceRange2\\': \\'(\d)")
    try :
        match = regex.search(string)
        return int(match.groups(0)[0])
    except : return 0

In [94]:
getPriceRange(df.loc[4,'attributes'])

1

In [95]:
df['price'] = df['attributes'].map(getPriceRange)
df['price'].value_counts()

0    14236
2     8041
1     4798
3     1317
4      473
Name: price, dtype: int64

In [20]:
def get_main_category(catstring) :
    string = ''
    try :
        for cat in main_categories :
            if cat in catstring : string = string + cat + ', '
    except : pass
    return string[0:(len(string)-2)]

In [21]:
get_main_category(df['categories'][0])

'Shopping'

In [22]:
df['main_category'] = df['categories'].map(get_main_category)
df['main_category'].value_counts()

Restaurants                                                                                                3115
Shopping                                                                                                   2467
Home Services                                                                                              2181
Beauty & Spas                                                                                              2060
Health & Medical                                                                                           2016
Food, Restaurants                                                                                          1884
Automotive                                                                                                 1484
Food                                                                                                       1176
Local Services                                                                                              798
Active Life                                                                                                 682
Nightlife, Restaurants                                                                                      592
Nightlife                                                                                                   533
Professional Services                                                                                       489
Financial Services                                                                                          452
Beauty & Spas, Health & Medical                                                                             443
Event Planning & Services                                                                                   427
Pets                                                                                                        403
Arts & Entertainment                                                                                        402
Hotels & Travel                                                                                             383
Beauty & Spas, Shopping                                                                                     366
Local Services, Shopping                                                                                    341
Home Services, Local Services                                                                               330
Home Services, Shopping                                                                                     259
Event Planning & Services, Hotels & Travel                                                                  241
Arts & Entertainment, Nightlife                                                                             217
Food, Shopping                                                                                              182
Health & Medical, Shopping                                                                                  176
Home Services, Professional Services                                                                        156
Education                                                                                                   154
Automotive, Food                                                                                            148
Food, Nightlife, Restaurants                                                                                135
Arts & Entertainment, Shopping                                                                              119
Local Services, Professional Services                                                                       110
Event Planning & Services, Shopping                                                                         110
Financial Services, Home Services                                                                           102
Home Services, Local Services, Professional Services                                                         94
                                                                                                             89
Financial Services, Professional Services                                                                    85
Event Planning & Services, Food, Restaurants                                                                 83
Religious Organizations                                                                                      80
Arts & Entertainment, Event Planning & Services, Hotels & Travel                                             75
Active Life, Health & Medical                                                                                74
Education, Local Services                                                                                    72
Automotive, Home Services                                                                                    69
Home Services, Local Services, Shopping                                                                      69
Public Services & Government                                                                                 64
Event Planning & Services, Restaurants                                                                       62
Beauty & Spas, Food, Shopping                                                                                60
Food, Nightlife                                                                                              60
Automotive, Shopping                                                                                         58
Active Life, Arts & Entertainment                                                                            55
Active Life, Shopping                                                                                        53
Event Planning & Services, Professional Services                                                             50
Arts & Entertainment, Nightlife, Restaurants                                                                 48
Active Life, Education                                                                                       44
Automotive, Local Services                                                                                   43
Event Planning & Services, Hotels & Travel, Nightlife                                                        42
Automotive, Hotels & Travel                                                                                  41
Event Planning & Services, Food                                                                              39
Mass Media                                                                                                   39
Arts & Entertainment, Event Planning & Services                                                              38
Active Life, Hotels & Travel                                                                                 36
Beauty & Spas, Event Planning & Services                                                                     36
Local Services, Professional Services, Shopping                                                              35
Event Planning & Services, Nightlife                                                                         35
Active Life, Event Planning & Services                                                                       34
Automotive, Financial Services                                                                               33
Arts & Entertainment, Event Planning & Services, Nightlife                                                   33
Health & Medical, Professional Services                                                                      32
Nightlife, Shopping                                                                                          31
Home Services, Local Services, Professional Services, Shopping                                               30
Home Services, Professional Services, Shopping                                                               30
Local Services, Public Services & Government                                                                 29
Active Life, Beauty & Spas                                                                                   24
Active Life, Arts & Entertainment, Event Planning & Services                                                 24
Active Life, Home Services, Shopping                                                                         23
Active Life, Nightlife                                                                                       23
Beauty & Spas, Health & Medical, Shopping                                                                    23
Automotive, Home Services, Local Services                                                                    22
Arts & Entertainment, Education                                                                              22
Event Planning & Services, Home Services, Hotels & Travel                                                    22
Beauty & Spas, Education                                                                                     21
Event Planning & Services, Nightlife, Restaurants                                                            21
Arts & Entertainment, Food                                                                                   21
Arts & Entertainment, Food, Nightlife, Restaurants                                                           20
Active Life, Home Services                                                                                   20
Education, Health & Medical                                                                                  19
Arts & Entertainment, Event Planning & Services, Hotels & Travel, Restaurants                                18
Education, Shopping                                                                                          17
Active Life, Beauty & Spas, Health & Medical                                                                 17
Arts & Entertainment, Restaurants                                                                            17
Active Life, Arts & Entertainment, Education                                                                 17
Active Life, Local Services                                                                                  17
Active Life, Education, Local Services                                                                       17
Automotive, Professional Services                                                                            16
Event Planning & Services, Local Services, Shopping                                                          16
Automotive, Home Services, Local Services, Shopping                                                          16
Arts & Entertainment, Event Planning & Services, Hotels & Travel, Nightlife                                  15
Local Services, Mass Media, Professional Services                                                            15
Financial Services, Local Services                                                                           15
                                                                                                           ...
Active Life, Education, Mass Media, Professional Services, Shopping                                           1
Active Life, Event Planning & Services, Food                                                                  1
Automotive, Local Services, Professional Services, Shopping                                                   1
Hotels & Travel, Nightlife, Restaurants, Shopping                                                             1
Education, Nightlife                                                                                          1
Arts & Entertainment, Education, Event Planning & Services, Hotels & Travel, Shopping                         1
Automotive, Education, Local Services, Professional Services, Public Services & Government                    1
Active Life, Arts & Entertainment, Local Services                                                             1
Home Services, Nightlife, Professional Services                                                               1
Beauty & Spas, Professional Services, Religious Organizations, Shopping                                       1
Health & Medical, Nightlife                                                                                   1
Arts & Entertainment, Education, Event Planning & Services, Local Services, Shopping                          1
Active Life, Event Planning & Services, Professional Services                                                 1
Arts & Entertainment, Home Services, Local Services, Shopping                                                 1
Arts & Entertainment, Food, Home Services, Professional Services                                              1
Education, Event Planning & Services, Local Services                                                          1
Event Planning & Services, Food, Health & Medical, Restaurants                                                1
Public Services & Government, Restaurants                                                                     1
Arts & Entertainment, Home Services, Restaurants                                                              1
Education, Food, Health & Medical, Shopping                                                                   1
Arts & Entertainment, Education, Professional Services, Shopping                                              1
Event Planning & Services, Hotels & Travel, Nightlife, Public Services & Government                           1
Active Life, Automotive, Beauty & Spas, Food, Home Services, Local Services, Restaurants                      1
Active Life, Hotels & Travel, Nightlife, Restaurants                                                          1
Arts & Entertainment, Education, Home Services, Professional Services, Shopping                               1
Event Planning & Services, Financial Services, Shopping                                                       1
Arts & Entertainment, Beauty & Spas, Home Services, Shopping                                                  1
Food, Health & Medical, Home Services                                                                         1
Active Life, Education, Hotels & Travel                                                                       1
Beauty & Spas, Professional Services, Shopping                                                                1
Active Life, Beauty & Spas, Restaurants, Shopping                                                             1
Automotive, Hotels & Travel, Shopping                                                                         1
Active Life, Arts & Entertainment, Food, Hotels & Travel                                                      1
Arts & Entertainment, Event Planning & Services, Local Services, Shopping                                     1
Arts & Entertainment, Local Services, Nightlife, Shopping                                                     1
Hotels & Travel, Nightlife, Restaurants                                                                       1
Arts & Entertainment, Automotive, Food                                                                        1
Automotive, Financial Services, Local Services, Professional Services                                         1
Active Life, Event Planning & Services, Hotels & Travel, Restaurants                                          1
Education, Food                                                                                               1
Active Life, Financial Services, Nightlife, Shopping                                                          1
Education, Food, Hotels & Travel, Nightlife                                                                   1
Arts & Entertainment, Event Planning & Services, Food, Nightlife, Shopping                                    1
Event Planning & Services, Home Services, Nightlife                                                           1
Hotels & Travel, Nightlife, Shopping                                                                          1
Arts & Entertainment, Financial Services, Health & Medical, Professional Services                             1
Food, Health & Medical, Home Services, Restaurants                                                            1
Active Life, Arts & Entertainment, Education, Shopping                                                        1
Active Life, Automotive, Home Services, Hotels & Travel                                                       1
Automotive, Education, Professional Services                                                                  1
Arts & Entertainment, Local Services, Nightlife, Professional Services                                        1
Beauty & Spas, Health & Medical, Home Services, Hotels & Travel, Professional Services                        1
Local Services, Nightlife, Restaurants                                                                        1
Arts & Entertainment, Automotive, Financial Services                                                          1
Active Life, Event Planning & Services, Food, Hotels & Travel                                                 1
Active Life, Food, Nightlife, Restaurants                                                                     1
Event Planning & Services, Nightlife, Professional Services                                                   1
Education, Event Planning & Services, Local Services, Professional Services, Shopping                         1
Active Life, Home Services, Local Services                                                                    1
Arts & Entertainment, Education, Event Planning & Services, Home Services, Local Services                     1
Professional Services, Restaurants, Shopping                                                                  1
Active Life, Arts & Entertainment, Food, Nightlife                                                            1
Active Life, Education, Event Planning & Services, Local Services, Shopping                                   1
Beauty & Spas, Event Planning & Services, Professional Services                                               1
Education, Local Services, Professional Services, Shopping                                                    1
Arts & Entertainment, Event Planning & Services, Hotels & Travel, Local Services, Professional Services       1
Event Planning & Services, Hotels & Travel, Local Services, Shopping                                          1
Education, Food, Shopping                                                                                     1
Education, Home Services, Local Services, Professional Services                                               1
Active Life, Beauty & Spas, Health & Medical, Local Services                                                  1
Beauty & Spas, Health & Medical, Nightlife                                                                    1
Beauty & Spas, Health & Medical, Home Services                                                                1
Professional Services, Restaurants                                                                            1
Arts & Entertainment, Mass Media, Shopping                                                                    1
Beauty & Spas, Event Planning & Services, Professional Services, Shopping                                     1
Financial Services, Home Services, Professional Services, Public Services & Government                        1
Beauty & Spas, Restaurants, Shopping                                                                          1

In [23]:
df.tail()

,address,attributes,categories,city,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state,price,main_category
28860,4655 Quality Ct,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Kitchen & Bath, Building Supplies, Home Servic...",Las Vegas,36.105866,-115.206215,Impressions Tile & Marble,NaN,89103,6,4.5,NV,0,"Home Services, Shopping"
28861,"3863 S Valley View Blvd, Ste 31",{'BusinessAcceptsCreditCards': 'True'},"Automotive, Body Shops, Auto Repair, Oil Chang...",Las Vegas,36.120743,-115.192017,Vegas Auto Repair,NaN,89103,9,4.5,NV,0,Automotive
28862,4322 W Flamingo Rd,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Beauty & Spas, Nail Salons, Active Life, Gyms,...",Las Vegas,36.114304,-115.193871,Recharge Salon & Fitness,NaN,89103,20,4.5,NV,3,"Active Life, Beauty & Spas"
28863,6166 W Flamingo Rd,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Beauty & Spas, Nail Salons, Hair Removal, Waxi...",Las Vegas,36.115367,-115.226848,Aloha Nails,NaN,89103,76,3.5,NV,2,Beauty & Spas
28864,"3900 Paradise Rd, Ste R","{'BikeParking': 'True', 'BusinessAcceptsCredit...","Makeup Artists, Men's Clothing, Swimwear, Shop...",Las Vegas,36.118697,-115.154269,Tito Jimy Salon and Boutique,Eastside,89169,8,4.0,NV,2,"Beauty & Spas, Shopping"

In [24]:
df.to_csv('LasVegas.csv',sep=';',header=True,index=False,compression='gzip')

### Business Vectorize Functions for a Location

In [ ]:
df = pd.read_csv('LasVegas.csv',sep=';',compression='gzip')

In [26]:
testlat = 36.120743
testlong = -115.192017 # same coords as autorepair shop in tail of las vegas dataset

In [31]:
def calcDistances(lat, long, citydf) :
    distances = pd.Series(index=citydf.index)
    for index in citydf.index :
        distances[index] = calcDist(lat, long, citydf.loc[index,'latitude'], citydf.loc[index,'longitude'])
    return distances

In [40]:
results = calcDistances(testlat, testlong, df)
results[results < search_radius]

124      756.578301
208      765.864667
255      973.197697
414      460.796078
569      738.852141
608      558.352126
702      515.163792
748      470.980523
978      942.223872
1054     780.714841
1085     757.099413
1316     625.965896
1405     682.566558
1419     923.452452
1616     727.021330
1799     807.826330
1800     112.244559
1837     774.976823
1998     500.465278
2041     555.086623
2052     842.593902
2189     938.324328
2241      81.875111
2311     111.693278
2374     738.819004
2400     549.937323
2444     646.253775
2445     808.289048
2602     845.699750
3009     610.566873
3177     269.861606
3194     594.179987
3251     652.673844
3561     793.966080
3566     780.592592
3694     593.037600
3896     734.244402
3908     702.917976
4026     492.257434
4030     475.775473
4117     799.044674
4251     394.917450
4340     916.518562
4467     626.201874
4591     684.898624
4592     671.926328
4607     474.757591
4716     551.012449
4767     947.815840
4900     895.142118
5004     621.953571
5074     960.268113
5166     867.092662
5206     637.611332
5207     929.104494
5247     977.857464
5333     549.937323
5347     684.898624
5355     793.454714
5627      48.379028
5651     925.616348
5866     664.250382
5970     641.706350
6001     763.472567
6076     939.533779
6126     559.541206
6127     889.880944
6335     799.044674
6337     447.054577
6340     780.592592
6577     943.195615
6598     673.682659
6604     538.145615
6620     676.031203
6643     763.472567
6653     875.049362
6728     139.307993
6752     793.966080
6969     610.619891
6970     626.223267
6986     559.899994
7067     749.187440
7084     202.258330
7201     927.488744
7202     738.819004
7203     556.096584
7266     265.342426
7279     778.893776
7280     651.417614
7305     167.710247
7384     821.901223
7385     374.869314
7463     867.105361
7472     952.454870
7648     775.113606
7709     353.913847
7733     549.952867
7742     769.729491
8087     629.370711
8272     967.253713
            ...
25445    611.583667
25528    624.899548
25615    550.768290
25617    937.030570
25653    585.631982
25693    462.747084
25702    646.729220
25727    830.460852
25732    659.099515
25733    797.107105
25734    659.415222
25754    863.304247
25755    623.163575
25772    626.201874
25791    651.417614
25840    951.708500
25847    649.322970
25851    722.312102
25959    435.529179
25960    992.891921
26019     48.379028
26067    580.326061
26106    594.259719
26115    811.425475
26126    626.201874
26179    542.594726
26184    861.387812
26189    137.356832
26196    838.214823
26228    315.853157
26229    661.109088
26268    955.291211
26370    738.747824
26375    903.337251
26423    626.201874
26476     81.845957
26482    620.101034
26509    875.049362
26547    470.822762
26580    653.348175
26592    936.060144
26617    209.914178
26618    756.182001
26654    950.175536
26684    875.049362
26696    601.337860
26762    811.104402
26828    586.453229
26844    600.873048
26880    734.578847
26886    845.699750
27006    780.592592
27028    619.163921
27030    649.322970
27045    875.049362
27212    592.575470
27216    932.619818
27217    631.947080
27226    651.162528
27234    860.245586
27257    656.915102
27286    845.699750
27291    550.768290
27296    610.385359
27297    671.012551
27330    474.059807
27355    626.201874
27393    607.952552
27424    446.433008
27443    765.864667
27512    649.322970
27523    943.761921
27529    866.908846
27567    937.965060
27568    914.764431
27608    888.192422
27638    586.256179
27656    604.749287
27701    458.924924
27725    939.533779
27847    624.899548
28018    813.904236
28044    654.249325
28045    801.956738
28119    828.486065
28204    550.768290
28316    763.472567
28353    497.000842
28481    608.452800
28551    738.819004
28553    626.201874
28592    757.664959
28610    684.898624
28734    693.920046
28777    690.927076
28792    646.753722
28812    738.819004
28813    793.966080
28861      0.041272
28862    733.714605
Length: 555, dtype: float64

In [41]:
results[results < search_radius].shape

(555,)

In [43]:
df.loc[results[results < search_radius].index,'price'].value_counts()

0    225
2    185
1     98
3     39
4      8
Name: price, dtype: int64

In [46]:
df['postal_code'].value_counts()  # 74 unique zip codes plus 0 for mislabeled or missing zipcodes

89109    3116
89119    1808
89102    1618
89103    1483
89117    1376
89118    1340
89123    1206
89146    1182
89101    1182
89147    1116
89104     981
89121     880
89128     855
89148     727
89130     647
89113     636
89139     614
89120     603
89108     561
89145     536
89135     524
89169     512
89149     510
89106     484
89129     440
89183     423
0         420
89107     415
89131     340
89115     340
89110     315
89134     259
89122     230
89141     180
89144     169
89178     140
89142     101
89136     101
89156      64
89143      56
89158      55
89166      50
89138      37
89161      27
89154      25
89124      23
89162      21
89044      20
89111      18
89133      10
89191       9
89193       9
89179       9
89105       7
89155       5
89180       5
89140       4
89112       4
89199       4
89157       3
89165       3
89152       3
89153       3
89137       3
89151       3
89160       2
89114       2
89054       2
89173       2
89116       2
89126       1
89125       1
89195       1
89150       1
89132       1
Name: postal_code, dtype: int64

In [53]:
Ydata = pd.read_csv('lasvegaszipcodes.csv')
Ydata

,#,Zip Code,Location,City,Population,Avg. Income/H/hold
0,1,89141,"35.982470, -115.205227","Las Vegas, Nevada",262,"$108,579.00"
1,2,89148,"36.063771, -115.315877","Las Vegas, Nevada",913,"$92,707.00"
2,3,89139,"36.032308, -115.208632","Las Vegas, Nevada","2,297","$74,706.00"
3,4,89149,"36.279319, -115.300319","Las Vegas, Nevada","11,312","$74,482.00"
4,5,89144,"36.171202, -115.345319","Las Vegas, Nevada","11,772","$70,136.00"
5,6,89143,"36.659049, -115.185865","Las Vegas, Nevada","2,408","$67,411.00"
6,7,89129,"36.235825, -115.298399","Las Vegas, Nevada","32,441","$63,373.00"
7,8,89135,"36.119441, -115.323855","Las Vegas, Nevada","3,539","$62,629.00"
8,9,89131,"36.294631, -115.235476","Las Vegas, Nevada","10,968","$61,779.00"
9,10,89113,"36.060558, -115.263553","Las Vegas, Nevada","8,276","$61,057.00"
10,11,89130,"36.255385, -115.228127","Las Vegas, Nevada","24,598","$60,129.00"
11,12,89134,"36.197693, -115.350881","Las Vegas, Nevada","25,116","$59,486.00"
12,13,89123,"36.018330, -115.152135","Las Vegas, Nevada","46,877","$57,630.00"
13,14,89147,"36.112898, -115.279134","Las Vegas, Nevada","39,478","$55,295.00"
14,15,89145,"36.167821, -115.278992","Las Vegas, Nevada","19,337","$54,320.00"
15,16,89124,"36.101527, -115.390784","Las Vegas, Nevada","1,837","$53,056.00"
16,17,89142,"36.147310, -115.037465","Las Vegas, Nevada","22,606","$52,897.00"
17,18,89117,"36.140961, -115.281091","Las Vegas, Nevada","51,545","$52,328.00"
18,19,89120,"36.081624, -115.095854","Las Vegas, Nevada","21,711","$51,449.00"
19,20,89128,"36.196247, -115.263037","Las Vegas, Nevada","40,538","$51,161.00"
20,21,89156,"36.219187, -115.011923","Las Vegas, Nevada","22,568","$46,543.00"
21,22,89146,"36.143209, -115.226615","Las Vegas, Nevada","18,265","$44,820.00"
22,23,89108,"36.205406, -115.223280","Las Vegas, Nevada","66,558","$44,204.00"
23,24,89110,"36.157705, -114.996925","Las Vegas, Nevada","61,898","$43,073.00"
24,25,89118,"36.074638, -115.213929","Las Vegas, Nevada","16,471","$42,067.00"
25,26,89121,"36.121616, -115.090900","Las Vegas, Nevada","61,669","$40,542.00"
26,27,89107,"36.171241, -115.209288","Las Vegas, Nevada","36,180","$40,444.00"
27,28,89103,"36.112464, -115.212086","Las Vegas, Nevada","46,429","$36,953.00"
28,29,89122,"36.107704, -115.044485","Las Vegas, Nevada","25,795","$35,431.00"
29,30,89104,"36.151209, -115.109333","Las Vegas, Nevada","39,779","$34,252.00"
30,31,89102,"36.145187, -115.186547","Las Vegas, Nevada","37,600","$32,674.00"
31,32,89115,"36.271568, -114.998333","Las Vegas, Nevada","51,681","$31,370.00"
32,33,89119,"36.084617, -115.145950","Las Vegas, Nevada","48,693","$30,609.00"
33,34,89106,"36.183293, -115.165226","Las Vegas, Nevada","25,563","$28,527.00"
34,35,89109,"36.124824, -115.153683","Las Vegas, Nevada","40,855","$27,429.00"
35,36,89101,"36.172765, -115.123047","Las Vegas, Nevada","52,617","$23,166.00"

In [51]:
np.array(set(df['postal_code']).difference(set(Ydata['Zip Code'])))

array({0, 89105, 89111, 89112, 89114, 89116, 89125, 89126, 89132, 89133, 89136, 89137, 89138, 89140, 89150, 89151, 89152, 89153, 89154, 89155, 89157, 89158, 89160, 89161, 89162, 89165, 89166, 89169, 89044, 89173, 89178, 89179, 89180, 89054, 89183, 89191, 89193, 89195, 89199},
      dtype=object)

In [42]:
df.tail()

,address,attributes,categories,city,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state,price,main_category
28860,4655 Quality Ct,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Kitchen & Bath, Building Supplies, Home Servic...",Las Vegas,36.105866,-115.206215,Impressions Tile & Marble,NaN,89103,6,4.5,NV,0,"Home Services, Shopping"
28861,"3863 S Valley View Blvd, Ste 31",{'BusinessAcceptsCreditCards': 'True'},"Automotive, Body Shops, Auto Repair, Oil Chang...",Las Vegas,36.120743,-115.192017,Vegas Auto Repair,NaN,89103,9,4.5,NV,0,Automotive
28862,4322 W Flamingo Rd,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Beauty & Spas, Nail Salons, Active Life, Gyms,...",Las Vegas,36.114304,-115.193871,Recharge Salon & Fitness,NaN,89103,20,4.5,NV,3,"Active Life, Beauty & Spas"
28863,6166 W Flamingo Rd,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Beauty & Spas, Nail Salons, Hair Removal, Waxi...",Las Vegas,36.115367,-115.226848,Aloha Nails,NaN,89103,76,3.5,NV,2,Beauty & Spas
28864,"3900 Paradise Rd, Ste R","{'BikeParking': 'True', 'BusinessAcceptsCredit...","Makeup Artists, Men's Clothing, Swimwear, Shop...",Las Vegas,36.118697,-115.154269,Tito Jimy Salon and Boutique,Eastside,89169,8,4.0,NV,2,"Beauty & Spas, Shopping"

### Writing csv files for US Cities from Kaggle's Yelp Business Dataset

In [2]:
test = pd.read_json('yelp_academic_dataset_business.json', lines=True)
test.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,1314 44 Avenue NE,"{'BikeParking': 'False', 'BusinessAcceptsCredi...",Apn5Q_b6Nz61Tq4XzPdf9A,"Tours, Breweries, Pizza, Restaurants, Food, Ho...",Calgary,"{'Monday': '8:30-17:0', 'Tuesday': '11:0-21:0'...",1,51.091813,-114.031675,Minhas Micro Brewery,,T2E 6L6,24,4.0,AB
1,,"{'Alcohol': 'none', 'BikeParking': 'False', 'B...",AjEbIBw6ZFfln7ePHha9PA,"Chicken Wings, Burgers, Caterers, Street Vendo...",Henderson,"{'Friday': '17:0-23:0', 'Saturday': '17:0-23:0...",0,35.960734,-114.939821,CK'S BBQ & Catering,,89002,3,4.5,NV
2,1335 rue Beaubien E,"{'Alcohol': 'beer_and_wine', 'Ambience': '{'ro...",O8S5hYJ1SMc8fA4QBtVujA,"Breakfast & Brunch, Restaurants, French, Sandw...",Montral,"{'Monday': '10:0-22:0', 'Tuesday': '10:0-22:0'...",0,45.540503,-73.599300,La Bastringue,Rosemont-La Petite-Patrie,H2G 1K7,5,4.0,QC
3,211 W Monroe St,None,bFzdJJ3wp3PZssNEsyU23g,"Insurance, Financial Services",Phoenix,None,1,33.449999,-112.076979,Geico Insurance,,85003,8,1.5,AZ
4,2005 Alyth Place SE,{'BusinessAcceptsCreditCards': 'True'},8USyCYqpScwiNEb58Bt6CA,"Home & Garden, Nurseries & Gardening, Shopping...",Calgary,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,51.035591,-114.027366,Action Engine,,T2H 0N5,4,2.0,AB

In [6]:
test.iloc[0,3]

'Tours, Breweries, Pizza, Restaurants, Food, Hotels & Travel'

In [5]:
test.drop('hours', axis=1, inplace=True)

In [7]:
test.drop('is_open', axis=1, inplace=True)

In [8]:
test.drop('business_id', axis=1, inplace=True)

In [9]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188593 entries, 0 to 188592
Data columns (total 12 columns):
address         188593 non-null object
attributes      162807 non-null object
categories      188052 non-null object
city            188593 non-null object
latitude        188587 non-null float64
longitude       188587 non-null float64
name            188593 non-null object
neighborhood    188593 non-null object
postal_code     188593 non-null object
review_count    188593 non-null int64
stars           188593 non-null float64
state           188593 non-null object
dtypes: float64(3), int64(1), object(8)
memory usage: 17.3+ MB

In [16]:
test[test['city']=='Las Vegas'].to_csv('LasVegasBusinesses.csv',
                                      sep=';',
                                      header=True,
                                      index=False,
                                      compression='gzip')

In [17]:
test[test['city']=='Phoenix'].to_csv('PhoenixBusinesses.csv',
                                      sep=';',
                                      header=True,
                                      index=False,
                                      compression='gzip')

In [18]:
test[test['city']=='Charlotte'].to_csv('CharlotteBusinesses.csv',
                                      sep=';',
                                      header=True,
                                      index=False,
                                      compression='gzip')

In [19]:
test[test['city']=='Pittsburgh'].to_csv('PittsburghBusinesses.csv',
                                      sep=';',
                                      header=True,
                                      index=False,
                                      compression='gzip')

### Business Density Plot by Jagan Gupta from Kaggle

In [ ]:
# Code from https://www.kaggle.com/jagangupta for Kaggle's yelp challenge in
# https://www.kaggle.com/jagangupta/what-s-in-a-review-yelp-ratings-eda/notebook


import imageio
import folium
import folium.plugins as plugins
from mpl_toolkits.basemap import Basemap

f, (ax1, ax2) = plt.subplots(1, 2, figsize=(15,7))

#a random point inside vegas
lat = 36.207430
lon = -115.268460
#some adjustments to get the right pic
lon_min, lon_max = lon-0.3,lon+0.5
lat_min, lat_max = lat-0.4,lat+0.5
#subset for vegas
ratings_data_vegas=rating_data[(rating_data["longitude"]>lon_min) &\
                    (rating_data["longitude"]<lon_max) &\
                    (rating_data["latitude"]>lat_min) &\
                    (rating_data["latitude"]<lat_max)]

#Facet scatter plot
ratings_data_vegas.plot(kind='scatter', x='longitude', y='latitude',
                color='yellow', 
                s=.02, alpha=.6, subplots=True, ax=ax1)
ax1.set_title("Las Vegas")
ax1.set_facecolor('black')

#a random point inside pheonix
lat = 33.435463
lon = -112.006989
#some adjustments to get the right pic
lon_min, lon_max = lon-0.3,lon+0.5
lat_min, lat_max = lat-0.4,lat+0.5
#subset for pheonix
ratings_data_pheonix=rating_data[(rating_data["longitude"]>lon_min) &\
                    (rating_data["longitude"]<lon_max) &\
                    (rating_data["latitude"]>lat_min) &\
                    (rating_data["latitude"]<lat_max)]
#plot pheonix
ratings_data_pheonix.plot(kind='scatter', x='longitude', y='latitude',
                color='yellow', 
                s=.02, alpha=.6, subplots=True, ax=ax2)
ax2.set_title("Pheonix")
ax2.set_facecolor('black')
f.show()

In [ ]:
data=[]
#rearranging data to suit the format needed for folium
stars_list=list(rating_data['stars'].unique())
for star in stars_list:
    subset=ratings_data_vegas[ratings_data_vegas['stars']==star]
    data.append(subset[['latitude','longitude']].values.tolist())
#initialize at vegas
lat = 36.127430
lon = -115.138460
zoom_start=11
print("                     Vegas Review heatmap Animation ")

# basic map
m = folium.Map(location=[lat, lon], tiles="OpenStreetMap", zoom_start=zoom_start)
#inprovising the Heatmapwith time plugin to show variations across star ratings 
hm = plugins.HeatMapWithTime(data,max_opacity=0.3,auto_play=True,display_index=True,radius=7)
hm.add_to(m)
m