#### This Notebook:
    1. Provides a ranking of US cities by population size and population density.
    2. Provides a *filter* and a *search* function to make data collection easier.

In [1]:
import pandas as pd

In [2]:
## Import Data Set: http://www.governing.com/gov-data/population-density-land-area-cities-map.html
df = pd.read_csv('Population_Density.csv', header=None, error_bad_lines=False, sep=';')

In [3]:
df.head(2)

               0     1       2    3
0  Abilene_Texas  1145  122225  107
1     Akron_Ohio  3186  197633   62

In [4]:
## Renaming columns
df = df.rename_axis({0:'City_State', 1:'Person_SQM', 2:'Pop_2016', 3:'Area_SQM'}, axis=1)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Using 'rename_axis' to alter labels is deprecated. Use '.rename' instead
  """Entry point for launching an IPython kernel.

In [5]:
df.shape

(754, 4)

In [6]:
## Sorting data by Population Size
df = df.sort_values('Pop_2016', ascending=False)

In [7]:
df.head()

                 City_State  Person_SQM  Pop_2016  Area_SQM
452       New York_New York       28211   8537673       303
379  Los Angeles_California        8484   3976322       469
119        Chicago_Illinois       11883   2704958       228
294           Houston_Texas        3842   2303482       600
520         Phoenix_Arizona        3126   1615017       517

In [8]:
# Filter function
def filter(Person_SQM = 1000, Area_SQM = 303, By = 'Pop_2016'):
    filtered = df[(df['Person_SQM'] > Person_SQM) & (df['Area_SQM'] > Area_SQM)].sort_values('Pop_2016', ascending=False)
    return(filtered)

In [10]:
filter()

                 City_State  Person_SQM  Pop_2016  Area_SQM
379  Los Angeles_California        8484   3976322       469
294           Houston_Texas        3842   2303482       600
520         Phoenix_Arizona        3126   1615017       517
590       San Antonio_Texas        3238   1492510       461
594    San Diego_California        4326   1406630       325
309    Jacksonville_Florida        1179    880619       747
301    Indianapolis_Indiana        2366    855164       361
232        Fort Worth_Texas        2513    854113       340
403       Memphis_Tennessee        2072    652717       315
479  Oklahoma City_Oklahoma        1053    638367       606
380     Louisville_Kentucky        1895    616261       325
321    Kansas City_Missouri        1529     48142       315

In [11]:
# Find by City Keyword Function
def search_city_row(search):
    return(df[df['City_State'].str.contains(search)])

In [12]:
search_city_row(search= 'Colu')

                          City_State  Person_SQM  Pop_2016  Area_SQM
140                 Columbus_Georgia         913    197485       216
139          Columbia_South Carolina        1016    134309       132
138                Columbia_Missouri        1912    120612        63
141                    Columbus_Ohio         396     86009       217
714  Washington_District of Columbia       11158     68117        61